Brand profiler.json
{
  "active": false,
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "find competitor",
            "type": "main",
            "index": 0
          },
          {
            "node": "social media db",
            "type": "main",
            "index": 0
          },
          {
            "node": "keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "find competitor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "find competitor": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "find competitor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Supabase4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "MCP based scraper FIRECRAWLER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "basic web scraper": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keywords": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "basic web scraper",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "save to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File  for storage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "MCP based scraper FIRECRAWLER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "MCP based scraper FIRECRAWLER",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Web Search tool": {
      "ai_tool": [
        [
          {
            "node": "MCP based scraper FIRECRAWLER",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP based scraper FIRECRAWLER": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File  for storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File  for storage": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File  for storage1": {
      "main": [
        [
          {
            "node": "save to Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save to Google Drive1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save to Supabase": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-22T09:39:10.456Z",
  "id": "3GFr9gTRBasmBQSj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Brand profiler",
  "nodes": [
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "companies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.output.company_name }}"
            },
            {
              "fieldId": "mission",
              "fieldValue": "={{ $json.output.about_summary.mission }}"
            },
            {
              "fieldId": "vision",
              "fieldValue": "={{ $json.output.about_summary.vision }}"
            },
            {
              "fieldId": "values",
              "fieldValue": "={{ $json.output.about_summary.values }}"
            },
            {
              "fieldId": "services",
              "fieldValue": "={{ $json.output.services }}"
            },
            {
              "fieldId": "social_links",
              "fieldValue": "={{ $json.output.social_media_links }}"
            },
            {
              "fieldId": "contact_details",
              "fieldValue": "={{ $json.output.contact_details }}"
            },
            {
              "fieldId": "target_audience",
              "fieldValue": "={{ $json.output.target_audience.client_types }}"
            },
            {
              "fieldId": "testimonials",
              "fieldValue": "={{ $json.output.testimonials_or_clients }}"
            },
            {
              "fieldId": "blogs",
              "fieldValue": "={{ $json.output.recent_blog_or_news }}"
            },
            {
              "fieldId": "seo_keywords",
              "fieldValue": "={{ $json.output.seo_keywords }}"
            },
            {
              "fieldId": "notable_features",
              "fieldValue": "={{ $json.output.notable_features_or_differentiators }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $json.output.location }}"
            },
            {
              "fieldId": "tone_of_voice",
              "fieldValue": "={{ $json.output.tone_of_voice }}"
            },
            {
              "fieldId": "calls_to_action",
              "fieldValue": "={{ $json.output.calls_to_action }}"
            },
            {
              "fieldId": "slug",
              "fieldValue": "={{ $json.output.company_name }}"
            },
            {
              "fieldId": "brand_story",
              "fieldValue": "={{ $json.output.one_liner }}"
            },
            {
              "fieldId": "social_links",
              "fieldValue": "={{ $json.output.social_media_links }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6000,
        -688
      ],
      "id": "1ffe080e-073c-46cb-83a7-81b417f8123b",
      "name": "Supabase"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -5312,
        -64
      ],
      "id": "0a72433a-bf91-4c15-a3c5-6298cfa9ac50",
      "name": "Mistral Cloud Chat Model3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -5040,
        -32
      ],
      "id": "acb8f32a-8abe-4bdb-b3f8-a6897020f412",
      "name": "list tools",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -5184,
        -32
      ],
      "id": "264e6a97-1609-4555-ae55-40db0685b81c",
      "name": "execute tools",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.name }} {{ $json.location.headquarters }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "you are ai webs search -utilize Tavily to search\n\nBegin by listing all available tools using list tools.\n\nThen, based on the tools available, use select tool to execute\n\ndo a tavily_search for given user prompt than find brands competing or is direct competitor to them in similar scale to them use crunbase.com to get accurate result"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -5280,
        -256
      ],
      "id": "68ba6ec3-0e73-4d36-8e8a-e6fdd16d9de4",
      "name": "find competitor"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"\",\n  \"address\": {\n    \"city\": \"\",\n    \"state\": \"\",\n    \"country\": \"\"\n  },\n  \"industry\": \"\",\n  \"website\": \"\",\n  \"description\": \"\",\n  \"competitors\": [\n    {\n      \"name\": \"\",\n      \"industry\": \"\",\n      \"location\": \"\",\n      \"is_market_leader\": false,\n      \"notes\": \"\"\n    }\n  ],\n  \"additional_info\": {\n    \"company_size\": \"\",\n    \"linkedin_followers\": 0,\n    \"certifications\": [\"\"],\n    \"specializations\": [\"\"]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -4864,
        -32
      ],
      "id": "7d7d4012-5ec8-4e4c-a1c9-53bcc2f8264e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "tableId": "competitors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('Supabase').item.json.id }}"
            },
            {
              "fieldId": "industry",
              "fieldValue": "={{ $json.industry }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $json.location }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.website }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.notes }}"
            },
            {
              "fieldId": "is_market_leader",
              "fieldValue": "={{ $json.is_market_leader }}"
            },
            {
              "fieldId": "competitor_name",
              "fieldValue": "={{ $json.name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4432,
        -256
      ],
      "id": "b5527b66-2f03-42ac-bb59-3a76fabe9b12",
      "name": "Supabase4",
      "credentials": {
        "supabaseApi": {
          "id": "9dYMIwoCFFwT3ZmR",
          "name": "Supabase account 6 ayan"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-crawl-and-scrape.crawleeNode",
      "typeVersion": 1,
      "position": [
        -6320,
        -1104
      ],
      "id": "7e4f5bf2-e208-43f0-8e08-8d8eb681d4f0",
      "name": "Crawl and Scrape"
    },
    {
      "parameters": {
        "formTitle": "profiler",
        "formDescription": "create am profile for the company",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Website url"
            },
            {
              "fieldLabel": "Scrapping type ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "basic"
                  },
                  {
                    "option": "deep scraping"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Competitor anaylsis",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "YES"
                  },
                  {
                    "option": "NO"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Social Media scraping",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "YES"
                  },
                  {
                    "option": "NO"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -7184,
        -880
      ],
      "id": "8cac5c1d-068a-420b-b66b-57d73be87cc6",
      "name": "On form submission",
      "webhookId": "6a0e5a4e-2987-4f24-9eb6-a7cee7f1b911"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Scrapping type '] }}",
                    "rightValue": "basic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "08c512fc-b8f6-4325-9a3d-897a154cba46"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "for crawlee"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32135bfb-947f-46d8-960d-afa65480cc7a",
                    "leftValue": "={{ $json['Scrapping type '] }}",
                    "rightValue": "deep scraping",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "crawlai"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6880,
        -880
      ],
      "id": "5f780b78-c924-48f2-b654-2d17d69f0b66",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.text }}",
        "options": {
          "systemMessage": "=You are a brand analyst.\n\nAnalyze the following raw website  {{ $json.data.text }} content and return a complete Company Profile in valid JSON format.\n\nFill in or infer values where possible. If any section is missing, infer based on tone and context. Do NOT skip any section.\n\n\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -6112,
        -1104
      ],
      "id": "26e8dec4-d627-493c-82b1-ae25c30f4c67",
      "name": "basic web scraper"
    },
    {
      "parameters": {
        "tableId": "social_links",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('Supabase').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4848,
        -944
      ],
      "id": "6f6968ae-58bb-499a-956d-463e1f484f52",
      "name": "social media db"
    },
    {
      "parameters": {
        "tableId": "seo_keywords",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $json.company_id }}"
            },
            {
              "fieldId": "keyword",
              "fieldValue": "={{ $('Supabase').item.json.seo_keywords }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4832,
        -768
      ],
      "id": "2326530e-37c7-4913-9f0a-7600b60d3359",
      "name": "keywords"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -6160,
        -960
      ],
      "id": "5d84d70f-0eed-43c7-9c85-31803b8db0dc",
      "name": "Mistral Cloud Chat Model5"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"NAME\":\"....\",\n  \"Company Summary\": \"...\",\n  \"Mission & Vision\": {\n    \"Mission\": \"...\",\n    \"Vision\": \"...\"\n  },\n  \"Products/Services\": [\n    {\n      \"Product/Service\": \"...\",\n      \"Description\": \"...\"\n    }\n  ],\n  \"Target Audience\": \"...\",\n  \"Tone of Voice\": [\"...\", \"...\", \"...\"],\n  \"Core Brand Values\": [\"...\", \"...\", \"...\"],\n  \"Digital Presence\": [\"...\"],\n  \"Founding Story\": \"...\",\n  \"Visual Identity\": [\"...\", \"...\"],\n  \"Unique Selling Points (USPs)\": [\n    \"...\", \"...\", \"...\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        -5776,
        -1104
      ],
      "id": "cda8951a-f654-4a63-8597-a0261e95d937",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -5696,
        -944
      ],
      "id": "17bccd88-c696-4d30-9575-f863ea2a0c39",
      "name": "Mistral Cloud Chat Model6"
    },
    {
      "parameters": {
        "name": "={{ $json.output.company_name }}(detailed)",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4640,
        -560
      ],
      "id": "2beb0004-5196-44d6-aec6-0a493f49a0e4",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "content": "                                                BASIC WEB SCRAPER\n[Installation Guide crawl and scrape node](https://www.npmjs.com/package/n8n-nodes-crawl-and-scrape)",
        "height": 380,
        "width": 980,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6384,
        -1216
      ],
      "typeVersion": 1,
      "id": "24e7982a-aaf9-4d74-bbfe-360fa321182b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "              TAVILY MCP (COMPETITORS FINDING THROUGH SPECIALIZED SEARCH",
        "height": 420,
        "width": 700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5392,
        -336
      ],
      "typeVersion": 1,
      "id": "8c45093d-981b-425d-95f7-fd8a52a860a4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "                      FIRECRAWL MCP (DEEP AI BASED SCRAPING)\n[firecrawl guide ](https://www.firecrawl.dev/)",
        "height": 420,
        "width": 820,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6672,
        -768
      ],
      "typeVersion": 1,
      "id": "8b0fcac9-8f27-4716-af56-e8bb62e0ef64",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -6336,
        -464
      ],
      "id": "615593af-45e3-406d-8737-ee5ff9fd4e11",
      "name": "Firecrawl tools1",
      "credentials": {}
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -6608,
        -480
      ],
      "id": "8232bd8a-05b1-4672-828c-00e7de9d58bc",
      "name": "Mistral Cloud Chat Model2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -6480,
        -464
      ],
      "id": "efc64bb5-09f2-47ed-a104-152721d3791b",
      "name": "Firecrawl list1",
      "credentials": {}
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company_name\": \"\",\n  \"one_liner\": \"\",\n  \"about_summary\": {\n    \"mission\": \"\",\n    \"vision\": \"\",\n    \"values\": []\n  },\n  \"services\": [],\n  \"target_audience\": {\n    \"industries_served\": [],\n    \"client_types\": []\n  },\n  \"founders_and_team\": {\n    \"leadership_team\": []\n  },\n  \"slogans_or_taglines\": [],\n  \"social_media_links\": {\n    \"LinkedIn\": \"\",\n    \"Instagram\": \"\",\n    \"Facebook\": \"\",\n    \"Twitter\": \"\",\n    \"YouTube\": \"\",\n    \"TikTok\": \"\"\n  },\n  \"testimonials_or_clients\": {\n    \"clients\": [],\n    \"case_studies\": [],\n    \"links\": []\n  },\n  \"recent_blog_or_news\": [\n    {\n      \"title\": \"\",\n      \"summary\": \"\",\n      \"date\": \"\"\n    }\n  ],\n  \"tone_of_voice\": \"\",\n  \"calls_to_action\": [],\n  \"seo_keywords\": [],\n  \"notable_features_or_differentiators\": [],\n  \"location\": {\n    \"headquarters\": \"\",\n    \"address\": \"\",\n    \"city\": \"\",\n    \"state\": \"\",\n    \"country\": \"\",\n    \"zip_code\": \"\"\n  },\n  \"contact_details\": {\n    \"email\": \"\",\n    \"phone\": \"\",\n    \"contact_page_url\": \"\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -6208,
        -464
      ],
      "id": "416b8711-6a9d-4c3b-866f-3e6f443b2f8b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "toolDescription": "Web Search tool only SAP websites",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 20,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [\"\"],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "Search Querry",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -6064,
        -464
      ],
      "id": "1a930c18-72e3-480f-ba3e-b8228f82f745",
      "name": "Web Search tool"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3792,
        -1120
      ],
      "id": "6daa8dea-e362-4b74-ad55-0c4a61f76808",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## USER FILL FORM \nENTER WEBSITE URL\nSELECT TYPE OF SCRAPING 1 SIMPLE 2 DEEP",
        "height": 368,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7312,
        -1056
      ],
      "typeVersion": 1,
      "id": "74b06226-fec4-4277-96d0-776ddb25fb22",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## SWITCH BETWEEN SCRAPPER BASED ON USER SELECTION",
        "height": 384,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6944,
        -1056
      ],
      "typeVersion": 1,
      "id": "b4ff76b3-e5a8-4acb-8b1d-719d5804c611",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Website url'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "you are ai webs scraper\n\n-utilize firecrawl to crape website\n\nBegin by listing all available Firecrawl tools using `listTools`.\n\nThen, based on the tools available, use `executeTools` to perform the appropriate actions required for the task.\n\nYour objective is to visit the provided company website and extract all key information needed to generate personalized, high-quality social media content.\n\nUtilize both Firecrawl's `list` and `tools` capabilities to extract:\n\n1. **company_name**: Full official name of the company.\n2. **one_liner**: Short summary of what the company does.\n3. **about_summary**: Mission, vision, values, and brand story.\n4. **services**: List of all services/products offered (with categories if available).\n5. **target_audience**: Who the company serves (e.g., startups, B2B, education, healthcare).\n6. **founders_and_team**: Names and roles of founders or leadership team.\n7. **slogans_or_taglines**: Any brand slogans, taglines, or mottos.\n8. **social_media_links**: All social media links with platform names (LinkedIn, Instagram, Twitter/X, Facebook, YouTube, TikTok, etc.).\n9. **testimonials_or_clients**: Any testimonials, case studies, or client logos.\n10. **recent_blog_or_news**: Titles + summaries of 3 most recent blog/news posts.\n11. **tone_of_voice**: Brand communication tone (e.g., friendly, expert, playful, technical).\n12. **calls_to_action**: CTAs like “Get Started”, “Book a Demo”, “Contact Us”.\n13. **seo_keywords**: Key phrases that frequently describe the company.\n14. **notable_features_or_differentiators**: What sets this company apart from competitors.\n\nReturn output in **structured JSON format**. Prioritize clarity and value. Ignore unrelated legal, cookie, or footer links.\n\nMake sure all data collected can directly support AI systems that generate brand-aligned social media content. \n\nseparate all data in respective manner    i need their location address as well and plus contact details use web search tool",
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -6448,
        -672
      ],
      "id": "f78e28d4-7a4f-448f-9d0f-269b9b45b466",
      "name": "MCP based scraper FIRECRAWLER"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.output.company_name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4848,
        -560
      ],
      "id": "2c121b2a-172b-40e8-bd85-a1e45e8fcef6",
      "name": "Convert to File  for storage"
    },
    {
      "parameters": {
        "content": "## save all extracted data to drive and supbase",
        "height": 992,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4928,
        -1392
      ],
      "typeVersion": 1,
      "id": "d8bb3385-4871-41e1-93a7-e3761e9ed10f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "={{ $json.output.NAME }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -4864,
        -1104
      ],
      "id": "bdcc087b-0b3f-499f-a174-e95ba9bcaa91",
      "name": "Convert to File  for storage1"
    },
    {
      "parameters": {
        "name": "={{ $('Information Extractor1').item.json.output.NAME }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4528,
        -1088
      ],
      "id": "2d7ff3e1-b712-4c66-948f-4887bd5693f2",
      "name": "save to Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "tableId": "company_basicprofiles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.output.NAME }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.output['Company Summary'] }}"
            },
            {
              "fieldId": "mission",
              "fieldValue": "={{ $json.output['Mission & Vision'].Mission }}"
            },
            {
              "fieldId": "vision",
              "fieldValue": "={{ $json.output['Mission & Vision'].Vision }}"
            },
            {
              "fieldId": "target_audience",
              "fieldValue": "={{ $json.output['Target Audience'] }}"
            },
            {
              "fieldId": "founding_story",
              "fieldValue": "={{ $json.output['Founding Story'] }}"
            },
            {
              "fieldId": "digital_presence",
              "fieldValue": "={{ $json.output['Digital Presence'] }}"
            },
            {
              "fieldId": "visual_identity",
              "fieldValue": "={{ $json.output['Visual Identity'] }}"
            },
            {
              "fieldId": "core_values",
              "fieldValue": "={{ $json.output['Core Brand Values'] }}"
            },
            {
              "fieldId": "products_services",
              "fieldValue": "={{ $json.output['Products/Services'] }}"
            },
            {
              "fieldId": "unique_selling_points",
              "fieldValue": "={{ $json.output['Unique Selling Points (USPs)'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4880,
        -1264
      ],
      "id": "46eb337a-8bd3-4d08-b8a6-afc7dcc96682",
      "name": "save to Supabase"
    },
    {
      "parameters": {
        "content": "# 🌐 AI Website Scraping & Company Intelligence Workflow\n\nTransforms any website URL into a **structured, intelligent company profile** — supporting **basic** (fast) and **deep** (AI-driven) scraping modes. Extracts mission, products, services, contacts, and social links using Firecrawl AI, then structures data into **Supabase** and archives JSON backups in **Google Drive**.\n\nAfter profiling, the **Tavily AI Agent** auto-discovers competitors via **Crunchbase**, enriching profiles with similar businesses, industries, and keywords — forming a **360° company intelligence ecosystem**.\n\n### **Core Flow**\n**Form Input → Scraper (Basic/Deep) → Data Extraction → AI Structuring → Supabase + GDrive Storage → Competitor Discovery → Company Intelligence Profile**\n\n### **Key Benefits**\n- AI-powered, automated company profiling  \n- Converts unstructured site data into searchable intelligence  \n- Auto-discovers competitors for market mapping  \n- Dual storage for reliability (Supabase + Drive)  \n- Scalable for B2B enrichment and market research  \n",
        "height": 512,
        "width": 1328,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7088,
        -144
      ],
      "typeVersion": 1,
      "id": "49071423-4a6a-4233-af67-e8e52deb2faa",
      "name": "Sticky Note7"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-22T09:39:10.459Z",
      "updatedAt": "2025-10-22T09:39:10.459Z",
      "role": "workflow:owner",
      "workflowId": "3GFr9gTRBasmBQSj",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-29T06:24:24.000Z",
  "versionId": "13f33516-4857-451f-96c9-574eea7af86e"
}