COST CALCULATION.json
{
  "active": false,
  "connections": {
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "ai agent cost estimate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "ai agent cost estimate",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "ai agent cost estimate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "CHECK IF BINARY FILE IS PRESENT OR NOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "ai agent cost estimate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "normalize input": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "NORMALIZE binary file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK IF BINARY FILE IS PRESENT OR NOT": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "NORMALIZE binary file": {
      "main": [
        [
          {
            "node": "Mistral Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR (ANY OCR API )": {
      "main": [
        []
      ]
    },
    "STORE OCR OUTPUT": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "ai agent cost estimate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get": {
      "ai_tool": [
        [
          {
            "node": "ai agent cost estimate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Upload": {
      "main": [
        [
          {
            "node": "Mistral Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Signed URL": {
      "main": [
        [
          {
            "node": "Mistral DOC OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral DOC OCR": {
      "main": [
        [
          {
            "node": "STORE OCR OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T10:10:07.919Z",
  "id": "bt8pDWTKqputhDh8",
  "isArchived": false,
  "meta": null,
  "name": "COST CALCULATION",
  "nodes": [
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -416,
        544
      ],
      "id": "4f90c351-3a27-4cef-8165-84b81f339462",
      "name": "Mistral Cloud Chat Model4"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        560
      ],
      "id": "02d5fb5f-8410-4d2a-9dc6-9a4e3964fa84",
      "name": "Simple Memory1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        160,
        560
      ],
      "id": "d09cc06a-b1a5-4d19-90c3-0c58add13b4f",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "hi this is cost estimate agent",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1952,
        176
      ],
      "id": "ce7fb065-c77e-4b31-b98c-ac18abe4d983",
      "name": "When chat message received",
      "webhookId": "5112884c-f913-4d4d-8571-4605936a74ba"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        352,
        544
      ],
      "id": "54e74d07-150d-440f-a53e-9995baa5cff1",
      "name": "Send a message in Gmail",
      "webhookId": "4d1e82d4-fb8c-4e2a-bb99-a8650a13f4a5",
      "credentials": {
        "gmailOAuth2": {
          "id": "GjmgJcRU3g4v3mEv",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.chatInput || $json.body?.chatInput || $json.body?.[0]?.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.body?.sessionId || $json.body?.[0]?.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "624b2c86-2860-4de7-b2ac-a080e6cf1598",
      "name": "normalize input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1376,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## Input endpoints\nWebhook and chat trigger receive user queries from website or n8n chat UI.\n",
        "height": 464,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2064,
        -32
      ],
      "typeVersion": 1,
      "id": "eb045f4b-b2e3-477c-8559-8398a886ca16",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# Persona  \nYou are a helpful, intelligent **AI Cost Estimation & Catalog Assistant** for the **Fabrics & Surfaces** brand.  \nYou guide users — whether they upload a document, reference an existing order, or start fresh — through a smooth, conversational process to extract, confirm, and calculate costs.  \nYour role: stay proactive, transparent, and supportive from start to finish.\n\n---\n\n## Core Purpose\n- Help users estimate or verify costs for **fabrics** and **tiles**.  \n- Work seamlessly with both **OCR data (stored in Supabase)** and **manual user inputs**.  \n- Extract or retrieve structured data (vendor, line items, quantities, rates, totals).  \n- Perform **step-by-step cost calculations** using MATERIAL_COSTS and PROCESSING_COSTS.  \n- Confirm results conversationally and provide a clear cost summary.  \n- Escalate to human support through **Gmail** when required.\n\n---\n\n## Primary Duties\n1. **Detect Input Source**\n   - If OCR data exists in Supabase → retrieve, summarize, and confirm with user before calculating.  \n   - If the user uploads a new document → parse it via OCR, save to Supabase, then confirm details.  \n   - If no data exists → guide the user step-by-step to collect inputs interactively.\n\n2. **Conversational Confirmation**\n   - Always confirm material, dimensions, and quantity before final computation.  \n   - Ask only for missing or unclear data.  \n   - Rephrase numeric or technical values clearly (“You entered 150 cm width and 10 m length — correct?”).\n\n3. **Computation**\n   - Use Calculator for all cost logic.  \n   - Apply formulas transparently (MATERIAL_COSTS, PROCESSING_COSTS).  \n   - Show each stage: base cost → add-ons → taxes → total.  \n   - Handle GSM ↔ sqm and mm ↔ sqm conversions automatically.\n\n4. **Output**\n   - Display itemized breakdown + total cost.  \n   - Include assumptions or substitutions if applied.  \n   - Offer next steps: **Save Quote**, **Email via Gmail**, or **Modify Inputs**.\n\n---\n\n## Conversation Flow\n1. **Greeting:**  \n   “Hi! I can help you estimate fabric or tile costs, review invoices, or create a new quote.  \n   Would you like me to use stored data, upload a bill, or start a new estimate?”\n2. **Flow continues** depending on source:  \n   - *Stored Data*: Retrieve → summarize → confirm → calculate → show results.  \n   - *New Upload*: OCR extract → confirm → calculate → show results.  \n   - *Manual Entry*: Ask specs step-by-step → confirm → calculate → show results.\n3. **Always guide and explain:** never skip user interaction, even if data is complete.  \n\n---\n\n## Cost Rules\n\n### Fabric (per m or sqm)\n| Material | Base €/m | Add-ons €/m |\n|-----------|-----------|-------------|\n| Cotton | 2.5 | Printing 1.2 · Hemming 0.5 |\n| Polyester | 2.0 | Coating 1.8 |\n| Linen | 6.0 | – |\n| Silk | 20.0 | – |\n| Wool | 10.0 | – |\n\nFormula:  \n`sqm = (width_cm / 100) × length_m`  \n`total = sqm × (base_rate + add_ons) + misc_costs`\n\n---\n\n### Tile (per sqm)\n| Type | €/sqm | Add-ons €/sqm |\n|-------|-------|---------------|\n| Ceramic | 8 | Glaze 2.5 |\n| Porcelain | 15 | Rectify 1.0 |\n| Stone | 30 | Seal 2.0 |\n\nFormula:  \n`area = pieces × (L_mm × W_mm / 1e6)`  \n`total = area × (base + add_ons) + 10 (packaging)`\n\n---\n\n## Behavior\n- Always behave as a conversational guide, not just a calculator.  \n- Confirm, clarify, and educate users while computing results.  \n- If OCR data is present: use it, but still engage in dialogue.  \n- If OCR data is missing: guide user through completion.  \n- Automatically handle GSM, sqm, and area conversions.  \n- Clearly state any assumptions or corrections made.  \n- If the user asks for help or escalation → send a Gmail message summarizing context and results.  \n- Maintain a calm, precise, and professional tone throughout.\n\n---\n\n**End of prompt**\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        96,
        176
      ],
      "id": "f868877e-a47e-4366-9800-424072efbdc9",
      "name": "ai agent cost estimate"
    },
    {
      "parameters": {
        "content": "## AI Agent\nGuides users through the cost estimation form for fabrics and tiles and runs calculations.\n",
        "height": 288,
        "width": 544,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        64
      ],
      "typeVersion": 1,
      "id": "85b0230d-f7ce-43d1-b482-6468a25f1cc4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Tools: Calculator & Gmail\nCalculator: performs numeric calculations. Gmail: sends quotes or escalations to support.\n",
        "height": 256,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        432
      ],
      "typeVersion": 1,
      "id": "dcc5f3ad-3a88-4fed-9d15-3d798d8eb46a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Cost Estimate Agent — Overview\n\n## How it works\n- Scans uploaded bills or receipts using OCR.  \n- Extracts key details like items, quantities, and prices.  \n- Calculates total cost and tax automatically.  \n- Estimates prices for fabrics and tiles based on size, finish, and material.  \n- Saves all parsed and computed data in Supabase.  \n- even  if no ocr data is present this  chat agent guide users through forms, show product info, and suggest alternatives.  \n- Core flow: **OCR → Parse / user query → Calculate → Store → Chat.**\n\n## Setup steps\n1. Add Google Drive (or other storage) and Supabase credentials.  \n2. Connect OCR and parsing nodes to handle PDF / image uploads.  \n3. Review material and processing cost tables in the calculator node; adjust values for your currency.  \n4. Test by uploading a sample invoice or selecting a fabric / tile in chat mode.  \n5. Verify results are written to the Supabase table, then enable the webhook or chat trigger for live use.\n",
        "height": 624,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2624,
        16
      ],
      "typeVersion": 1,
      "id": "660ec177-6b8f-4591-a9e2-8be6edc8eedd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Memory \nStores short-term session context so the agent can recall prior user inputs ",
        "height": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        464
      ],
      "typeVersion": 1,
      "id": "d41425c9-72a5-47e6-b1d4-00ee48725736",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Mistral Model\nHandles conversation logic for the cost estimation agent. ",
        "height": 192,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        464
      ],
      "typeVersion": 1,
      "id": "caa00085-20b6-46f4-84b5-61e9da0e0423",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {
          "destinationFieldName": "data",
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1440,
        96
      ],
      "id": "897a43ec-b434-41cd-aa4b-713bf05fa406",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -176,
        144
      ],
      "id": "0c8127b4-405d-452f-9874-e05e684d764d",
      "name": "Merge"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -336,
        1088
      ],
      "id": "a3e944a3-91c5-4a06-bf54-02539e9d308a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "463448a5-b323-4682-8674-24bee0df163b",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        160
      ],
      "id": "d6099fc1-790e-4bc1-8cb3-ebdc2ab488eb",
      "name": "CHECK IF BINARY FILE IS PRESENT OR NOT"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const binaryKeys = Object.keys(item.binary || {});\n  const firstKey = binaryKeys[0];\n\n  if (!firstKey) {\n    return item;\n  }\n\n  return {\n    json: item.json,\n    binary: {\n      data: item.binary[firstKey]\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        96
      ],
      "id": "fde26d6a-7a41-443e-9973-f0d2c68ffde3",
      "name": "NORMALIZE binary file"
    },
    {
      "parameters": {
        "method": "POST",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "jsonl"
            },
            {
              "name": "include_images",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        -256
      ],
      "id": "bae39571-4a46-40a3-8a5e-f8fd977cf72d",
      "name": "OCR (ANY OCR API )"
    },
    {
      "parameters": {
        "tableId": "temp_table",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "fieldId": "file",
              "fieldValue": "={{ $json.data[0].parseJson().blocks }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.data[0].parseJson().source }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        80
      ],
      "id": "5296f45c-fe21-4b06-adea-63bb93ece610",
      "name": "STORE OCR OUTPUT",
      "credentials": {
        "supabaseApi": {
          "id": "9dYMIwoCFFwT3ZmR",
          "name": "Supabase account 6 ayan"
        }
      }
    },
    {
      "parameters": {
        "content": "### use any ocr(mistral or own hosted ocr)",
        "height": 272,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -352
      ],
      "typeVersion": 1,
      "id": "d580dab1-84ca-4e21-8d51-d451cd6851f8",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## normalize binary file name ",
        "height": 272,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        0
      ],
      "typeVersion": 1,
      "id": "a1e5e3cc-e235-48c8-be61-babcd43dadc9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "### store ocr output in supbase",
        "height": 288,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -16
      ],
      "typeVersion": 1,
      "id": "c6fac97d-7110-4cf7-911d-10a03fe4a2b4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## check if user query have binary file or not ?",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        48
      ],
      "typeVersion": 1,
      "id": "822d5178-03f4-4553-bf53-83eb05f26cd8",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "temp_table",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('When chat message received').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        720,
        528
      ],
      "id": "a577dfab-3f20-47bd-be7b-64c1cf0f85ec",
      "name": "Supabase Get",
      "credentials": {
        "supabaseApi": {
          "id": "9dYMIwoCFFwT3ZmR",
          "name": "Supabase account 6 ayan"
        }
      }
    },
    {
      "parameters": {
        "content": "## get ocr output from supbase",
        "height": 240,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        432
      ],
      "typeVersion": 1,
      "id": "50fe88db-002a-49b6-a124-270a5e7d43ec",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "15d4bfb8-d049-422c-8541-3bf7aaacedf7",
      "name": "Mistral Upload",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1008,
        96
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "k9FknrnRcIKYNX7T",
          "name": "Mistral Cloud account 2 dbt rn"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9de46179-9b2d-4aca-8b4c-c3b8938e7646",
      "name": "Mistral Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -768,
        96
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "k9FknrnRcIKYNX7T",
          "name": "Mistral Cloud account 2 dbt rn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {}
      },
      "id": "49df803d-8805-483b-8598-a616c589edb2",
      "name": "Mistral DOC OCR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -560,
        96
      ],
      "typeVersion": 4.2,
      "credentials": {
        "mistralCloudApi": {
          "id": "k9FknrnRcIKYNX7T",
          "name": "Mistral Cloud account 2 dbt rn"
        }
      }
    },
    {
      "parameters": {
        "content": "## MISTRAL OCR\n [OCR Guide](https://mistral.ai/news/mistral-ocr)\n1. UPLOAD FILE\n2. GET SIGNED URL\n3. GET EXTRACT DATA AFTER USING MISTRAL OCR",
        "height": 320,
        "width": 608,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -64
      ],
      "typeVersion": 1,
      "id": "db0b917c-8843-4061-a88f-d3263ec1d4b0",
      "name": "Sticky Note11"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-03T10:10:07.923Z",
      "updatedAt": "2025-11-03T10:10:07.923Z",
      "role": "workflow:owner",
      "workflowId": "bt8pDWTKqputhDh8",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T04:33:55.000Z",
  "versionId": "a1e2342a-5045-4f89-b731-59058d96c3da"
}