dbtmasterweb{   "nodes": [     {       "parameters": {         "model": {           "__rl": true,           "value": "gpt-4.1-mi.json
{
  "active": true,
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Direct": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T11:12:42.792Z",
  "id": "2FlYWTe2ywQE419f",
  "isArchived": false,
  "meta": null,
  "name": "dbtmasterweb{   \"nodes\": [     {       \"parameters\": {         \"model\": {           \"__rl\": true,           \"value\": \"gpt-4.1-mi",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "frequencyPenalty": 1,
          "presencePenalty": 1,
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        512
      ],
      "id": "278d114d-127c-4998-84d6-1616b6d83afb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BEMsaCWtnyqTUtIt",
          "name": "OpenAi account 8 dbt digi"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        816,
        768
      ],
      "id": "e4387119-78c8-4b1a-9771-413f57847f1c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BEMsaCWtnyqTUtIt",
          "name": "OpenAi account 8 dbt digi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93dbee73-1e37-4377-91df-73eb3760d4b9",
              "name": "que",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        656
      ],
      "id": "43a3a4e8-d4be-4888-92bc-2603076d7c3c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.sessionId}}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        480
      ],
      "id": "a0cb80d5-b874-4378-8eca-5fc92e4d1fb8",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `website url`, 'string') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1200,
        464
      ],
      "id": "43312a19-eb6e-45f6-8613-1e0a32b3d44e",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n_test",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', `Number of rows to return, default 4, max 10`, 'number') }}",
        "filters": {
          "conditions": [
            {
              "keyName": "content",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `word to search, use \"*\" for wildcard placeholder, Example \"*ai*\"`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1152,
        768
      ],
      "id": "b3744acd-dcd3-4b06-b857-bcdc9b69834d",
      "name": "Supabase Direct",
      "credentials": {
        "supabaseApi": {
          "id": "9dYMIwoCFFwT3ZmR",
          "name": "Supabase account 6 ayan"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a website-embedded AI assistant.\n\nAlways follow these strict rules:\n\n1. First, use Supabase vector search (dense retrieval) to find related website content.\n2. Second, use Supabase direct search (sparse retrieval) to find exact match content.\n3. Both searches use the same website content database. Always perform both.\n4. Answer only using the site’s content. Keep answers very short and precise.\n5. If the user **explicitly mentions a blog** (e.g., \"send the blog on X\" or \"blog about Y\"), include a direct clickable link to that blog.\n6. If the user provides a URL, fetch and summarize or answer based on that page’s content.\n7. If the information is not found, say exactly: **“I couldn’t find that on this site.”**\n8. If the user asks a general question unrelated to the website, respond briefly and conversationally.\n9. be  conversational and supportive to user dont push and confused user with push lot of info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        720,
        256
      ],
      "id": "448434a4-ca9e-433b-92b7-eec2b9bbacbf",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        448,
        464
      ],
      "id": "3ef5f888-1058-4a33-ba43-e9c8f8ef047c",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "k9FknrnRcIKYNX7T",
          "name": "Mistral Cloud account 2 dbt rn"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "488406a9-e2ec-406b-9616-bd648f801d7a",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        160
      ],
      "id": "55bc703b-da77-4e7f-ade0-c35bad8ee3ab",
      "name": "Webhook",
      "webhookId": "488406a9-e2ec-406b-9616-bd648f801d7a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8ce60b3b-33e2-46e5-9fed-502876f5b62c",
      "name": "Edit Fields5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=##Persona\nYou are a helpful, intelligent AI support you task is to Assist agent for our employees at nosta who are in touch with customers to get live information / support while being in a conversation. Lead the conversation by asking open-ended questions and offering suggestions. Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\n\n##Knowledge Access Instructions\n#Primary Source: For every user question, always use the Supabase store (website_mark) as the primary source.\nfor each query by always  serach Supabase (website_mark).\n\n#secondary source : For  user question were data from primary source is not enough or in complete use secondary source (nosta_siteembed) as a sourcetry to use this to enchance answers each time.\n\nSupabase Found: If relevant information is found in Supabase:\n\nRespond in English.\n\nProvide the textual information first.\n\nyou will also provide url and realted topic and title\n\nExample:\n\"For your reference, this information is based on give nosta webpage.\n\nSupabase Not Found: If no relevant information is found in Supabase, respond to the user with:\n\n\"The information you requested is not available in our internal documentation. Would you like me to do a Web search?\"\n\nWeb Search Permission:\n\nDo NOT use web search tools automatically.\n\nWait for the user's explicit confirmation (e.g., \"Yes\", \"Okay\", \"Please do\", etc.).\n\nPerforming a Web Search:\n\nOnly after receiving user permission, perform a web search.\n\nUse both web search 1 and web search 2 tools.\n\nQueries must be a single string in English.\n\nClearly state that the information is from an external source.\n\nExample:\n\"This information comes from an external source (e.g., from a relevant website)...\"\n\nImportant Rules & Logic\nSearch Scope: After getting permission for a web search, use it only for the immediate response. Return to using Supabase for all subsequent queries unless the user explicitly asks for external help again.\n\nNo Data Found: If no data is found in Supabase or the web, respond with:\n\n\"At the moment, there is no information available to fully address this request based on current internal and external sources.\"\n\n\n## 🔹 Tone\n- **Professional, clear, and helpful.**  \n- **Concise** but always **precise, detailed, and well-structured**.  \n- Ensure explanations are **easy to understand** while remaining **knowledgeable**.  \n\n---\n\n## 🔹 Instructional Format\nFor **guide or instruction-based responses**, always use the following structure ,order can be changed depending upon user query:\n\n### Step-by-Step Guide\n- Provide a **detailed breakdown** of the task or explanation.  \n- Include **all relevant details** with examples, data, or structured steps.  \n\n### Things to Consider\n- Highlight **important details**.  \n- Call out **common pitfalls or errors** to avoid.  \n- Share **key insights** that improve accuracy and clarity.  \n\n### Explanation\n- Provide a **clear, professional explanation** of the main subject.  \n- Break down **complex terms or processes** into simple, digestible points.  \n- Always connect the explanation directly back to **Nosta**.  \n\n### Further Understanding\n- Instead of asking questions, provide **two related topics** the user can explore next.  \n- Example:  \n  - Impact of Nosta’s innovations on supply chain optimization.  \n  - Role of CNC machining in medical technology.  \n\n### Related Topics\n- Always suggest at least **2 related topics** with:  \n  - A **brief description** of why they are relevant.  \n  - A **URL to the primary source** (if available).  \n- Example:  \n  - **Nosta’s role in the automotive sector** — [Source](https://www.nosta.de/automotive)  \n  - **Sustainability practices in logistics** — [Source](https://www.nosta.de/sustainability)  \n\n---\n\n## 🔹 Things to Consider / Important Details\n- **Never overlook critical details** — accuracy and completeness are essential.  \n- Always ensure content is:  \n  - Very detailed** but **brief in wording** (no fluff).  \n  - Well-structured** (use headings, bullet points, timelines, or tables). \n  - even in bullet point try to give explaination for each point.\n  - Directly related to Nosta** (company, products, industry, or operations).  \n\n---\n\n\n## 🔹 Instruction\n- For each query:  \n  - Always use the **Supabase store (`website_mark`) as the **primary source.  \n  - Supplement with the secondary source (`nosta_siteembed`) to enrich responses.  \n ##for each query  always use the Supabase store (website_mark) also try to use secondary source (nosta_siteembed) to improve responds.\n\n---\n\n## Output Guidelines\n- Outputs must always be:  \n  - Detailed, brief, well-structured, and easy to understand.**  \n  - Knowledgeable and fact-based.  \n  - Directly connected to Nosta.\n  - don't create url on your own only show url from source.\n  - guide user to how to navigate to that page and page url for particular data.\n  - answer should  be precise answers based on user query\n\n### Formatting Rules\n- Bullet points*→ for quick facts, key highlights.  \n- Timelines→ for historical events, evolution, or milestones.  \n- Tables** → for comparisons, structured data.  \n-answer need  to be short only few sentence and precise  give  detail answer if only user ask for it.\n### Sources\n- Always include the **source URL**.  \n- For secondary data, also include the **primary source link.  \n- sometime data will have such ![Agricultural and Construction Machinery](https://www.nosta.com/wp-content/uploads/2025/06/nosta-branchenloesungen-land-baumaschinen-slider-1640x1093.jpg) image show them to user but those coming from primary source only.\n\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -336,
        560
      ],
      "id": "5e0c5abc-4f94-44ae-a072-2c360ae0c95c",
      "name": "nosta site bot1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "n8n_test",
        "toolDescription": "Get website related Data",
        "tableName": {
          "__rl": true,
          "value": "n8n_test",
          "mode": "list",
          "cachedResultName": "n8n_test"
        },
        "options": {
          "queryName": "match5_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        736,
        624
      ],
      "id": "0c06b42e-942a-45cf-b49d-6d413738ff95",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "9dYMIwoCFFwT3ZmR",
          "name": "Supabase account 6 ayan"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-10T11:12:42.802Z",
      "updatedAt": "2025-12-10T11:12:42.802Z",
      "role": "workflow:owner",
      "workflowId": "2FlYWTe2ywQE419f",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-10T11:19:55.000Z",
  "versionId": "7334a149-6947-451f-99eb-236919abc146"
}