emai send copy Ayan Year End Review.json
{
  "active": false,
  "connections": {
    "Set data": {
      "main": [
        [
          {
            "node": "Update Message Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge fields": {
      "main": [
        [
          {
            "node": "Set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message (Gmail)": {
      "main": [
        [
          {
            "node": "Merge fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Status (Waiting for sending)": {
      "main": [
        [
          {
            "node": "Merge fields",
            "type": "main",
            "index": 1
          },
          {
            "node": "Send a message (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Retrieve Customer Messages Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Filter Status (Waiting for sending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Customer Messages Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-30T15:12:50.330Z",
  "id": "fWxO9TNMYQGguQWU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "emai send copy Ayan Year End Review",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "401b79a0-a079-4ea0-805b-a963d9206031",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Waiting for sending"
            },
            {
              "id": "a02d2518-e979-4a17-ab00-dda6723d9945",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.Email }}",
              "rightValue": ""
            },
            {
              "id": "bea4e49e-cf8a-4f05-bd6f-bdce0c5d8533",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.Name }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "584efd4a-af35-4ac4-96b5-887b5a56a9dc",
      "name": "Filter Status (Waiting for sending)",
      "type": "n8n-nodes-base.filter",
      "position": [
        736,
        336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "email",
              "stringValue": "={{ $json.Email }}"
            },
            {
              "name": "name",
              "stringValue": "={{ $json.Name }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "5642a874-1f06-455a-9c4a-1e3dbb703c2c",
      "name": "Set data",
      "type": "n8n-nodes-base.set",
      "position": [
        1392,
        336
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU",
          "mode": "list",
          "cachedResultName": "email auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Status": "Sent successfully",
            "SEND DATE": "={{ new Date().toDateTime()}}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND DATE",
              "displayName": "SEND DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "87cd0bbf-88d3-41ba-b3e7-71da0c52acbc",
      "name": "Update Message Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1616,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Your 2025 Year-End DBT Achievement Report",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Year-End Achievement Report</title>\n    <style>\n        /* Base styles */\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            background-color: #f4f6f8; /* Light gray background for the email client view */\n            margin: 0;\n            padding: 0;\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n        }\n        \n        /* Container */\n        .email-wrapper {\n            width: 100%;\n            background-color: #f4f6f8;\n            padding: 40px 0;\n        }\n        \n        .email-content {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 4px 6px rgba(0,0,0,0.05);\n            overflow: hidden;\n        }\n\n        /* Header */\n        .email-header {\n            background-color: #2c3e50;\n            padding: 30px;\n            text-align: center;\n        }\n        \n        .email-header h1 {\n            color: #ffffff;\n            margin: 0;\n            font-size: 24px;\n            font-weight: 600;\n        }\n\n        /* Body */\n        .email-body {\n            padding: 40px 30px;\n        }\n\n        .greeting {\n            font-size: 18px;\n            font-weight: bold;\n            margin-bottom: 20px;\n            color: #2c3e50;\n        }\n\n        /* Button */\n        .button-container {\n            text-align: center;\n            margin: 30px 0;\n        }\n\n        .cta-button {\n            display: inline-block;\n            padding: 14px 28px;\n            background-color: #3498db;\n            color: #ffffff !important;\n            text-decoration: none;\n            border-radius: 6px;\n            font-weight: bold;\n            font-size: 16px;\n            transition: background-color 0.3s ease;\n        }\n        \n        /* Footer / Note */\n        .email-footer {\n            background-color: #f8f9fa;\n            padding: 20px 30px;\n            border-top: 1px solid #eeeeee;\n            font-size: 13px;\n            color: #7f8c8d;\n            text-align: center;\n        }\n\n        .note-box {\n            background-color: #fff3cd;\n            border: 1px solid #ffeeba;\n            color: #856404;\n            padding: 15px;\n            border-radius: 6px;\n            margin-top: 30px;\n            font-size: 14px;\n            line-height: 1.4;\n        }\n\n        /* Mobile Responsive */\n        @media only screen and (max-width: 600px) {\n            .email-content {\n                width: 100% !important;\n                border-radius: 0 !important;\n            }\n            .email-body {\n                padding: 20px !important;\n            }\n            .email-wrapper {\n                padding: 0 !important;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-wrapper\">\n        <div class=\"email-content\">\n            <!-- Header -->\n            <div class=\"email-header\">\n                <h1>2025 Year-End Achievement Report</h1>\n            </div>\n\n            <!-- Main Content -->\n            <div class=\"email-body\">\n                <p class=\"greeting\">Hi {{ $json.Name }},</p>\n                \n                <p>As we wrap up the year, we've put together a special \"Year-End Achievement Report\" just for you. This report highlights your contributions and milestones throughout 2025.</p>\n                \n                <p>It's been a great year, and we wanted to share a fun summary of what you've accomplished.</p>\n\n                <div class=\"button-container\">\n                    <a href=\"{{ $json.url }}\" class=\"cta-button\">View My Report</a>\n                </div>\n\n                <p>Happy Holidays!</p>\n                \n                <p>Best regards,<br>\n                <strong>Digital Biz Tech Team</strong></p>\n\n                <div class=\"note-box\">\n                    <strong>Important Note:</strong> This report was generated using AI based on internal system data. While we strive for accuracy, please view this as a fun summary rather than an official performance audit.\n                </div>\n            </div>\n\n            <!-- Footer -->\n            <div class=\"email-footer\">\n                &copy; 2025 Digital Biz Tech. All rights reserved.<br>\n                This is an automated message.\n            </div>\n        </div>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "ccList": "srini.chappidi@digitalbiz.tech, blockchaindbt@gmail.com"
        }
      },
      "id": "cf5dd843-b768-4c32-8577-1ff260179649",
      "name": "Send a message (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        960,
        208
      ],
      "notesInFlow": false,
      "typeVersion": 2.1,
      "alwaysOutputData": false,
      "webhookId": "ab1ef423-31e7-4826-ae99-90a6afabdd96",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZO3gtTRUqebHPkmQ",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "b504e4d2-c10d-48ce-b9d1-3b338f81703a",
      "name": "Merge fields",
      "type": "n8n-nodes-base.merge",
      "position": [
        1168,
        320
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        400
      ],
      "id": "a5d2dc77-87dd-459c-ab69-92b49e2a490a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        400
      ],
      "id": "66492b64-7a25-40b5-a1e2-95341f6bc8cc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU",
          "mode": "list",
          "cachedResultName": "email auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13sBbR1bTjAS2cJ1lB6cPRCvxkIQcD3W-pRruZ7jSNmU/edit#gid=0"
        },
        "options": {}
      },
      "id": "ed724c85-272e-4bf4-a02a-ed3291167639",
      "name": "Retrieve Customer Messages Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        272,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-30T15:12:50.336Z",
      "updatedAt": "2025-12-30T15:12:50.336Z",
      "role": "workflow:owner",
      "workflowId": "fWxO9TNMYQGguQWU",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-30T16:05:22.000Z",
  "versionId": "4885a502-39cc-450d-82c2-f5a410fca385"
}