My workflow 33.json
{
  "active": false,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Split Binary Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Binary Attachments": {
      "main": [
        [
          {
            "node": "Loop: Process Each Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Process Each Attachment": {
      "main": [
        [],
        [
          {
            "node": "Extract Text from Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Timesheet Data (OpenAI)": {
      "main": [
        [
          {
            "node": "Set Timesheet JSON Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Info From PO Sheet": {
      "main": [
        [
          {
            "node": "Search: Client Invoices Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Invoice Date & Due Date Days": {
      "main": [
        [
          {
            "node": "Generate Sheet Name (Employee + Week Start to End Dates)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sheet Name (Employee + Week Start to End Dates)": {
      "main": [
        [
          {
            "node": "Create New Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Invoice Range": {
      "main": [
        [
          {
            "node": " If: Invoice Range is 15 Days?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: File Already Exists?": {
      "main": [
        [
          {
            "node": "Append: Final Row to Existing Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " Sheets: Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " If: Invoice Range is 15 Days?": {
      "main": [
        [
          {
            "node": "Set Invoice Date & Due Date Days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: File Name from Start & End Based Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: File Name from Start & End Based Date Range": {
      "main": [
        [
          {
            "node": "Search: File By Start Date Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search: File By End Date Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Merge: Combine Folder Search Results": {
      "main": [
        [
          {
            "node": "If: File Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Sheet": {
      "main": [
        [
          {
            "node": "HTTP Request(new sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Created Sheet to Final Folder": {
      "main": [
        [
          {
            "node": " Set: Row Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Set: Row Data": {
      "main": [
        [
          {
            "node": " Sheets: Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Sheets: Append Row": {
      "main": [
        [
          {
            "node": " Sheets: Final Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Sheets: Final Append": {
      "main": [
        [
          {
            "node": "Loop: Process Each Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Sheets: Create Sheet": {
      "main": [
        [
          {
            "node": "HTTP Request1(create sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Sheets: Append Row1": {
      "main": [
        [
          {
            "node": "Set: Spreadsheet  (ID & Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Attachment": {
      "main": [
        [
          {
            "node": "Extract Timesheet Data (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Client Invoices Folder": {
      "main": [
        [
          {
            "node": "Search: Client Folder by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Client Folder by Name": {
      "main": [
        [
          {
            "node": "Check Client Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: File By Start Date Name": {
      "main": [
        [
          {
            "node": " Merge: Combine Folder Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: File By End Date Name": {
      "main": [
        [
          {
            "node": " Merge: Combine Folder Search Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Drive: Move Sheet To Final Folder": {
      "main": [
        [
          {
            "node": "Set: Empty Row Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Empty Row Structure": {
      "main": [
        [
          {
            "node": " Sheets: Append Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Spreadsheet  (ID & Name)": {
      "main": [
        [
          {
            "node": "Append: Final Row to Existing Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append: Final Row to Existing Sheet": {
      "main": [
        [
          {
            "node": "Loop: Process Each Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Year Folder Exists": {
      "main": [
        [
          {
            "node": "Set: Invoice Range",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Current Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client Name Folder": {
      "main": [
        [
          {
            "node": "Create Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Client Name Folder": {
      "main": [
        [
          {
            "node": "Search: Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Client Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Employee Name Folder": {
      "main": [
        [
          {
            "node": "Check Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Employee Name Folder": {
      "main": [
        [
          {
            "node": "Search: Year Folder ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Employee Name Folder": {
      "main": [
        [
          {
            "node": "Create Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Year Folder ": {
      "main": [
        [
          {
            "node": "Check if Year Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Year Folder": {
      "main": [
        [
          {
            "node": "Check if Year Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Current Year Folder": {
      "main": [
        [
          {
            "node": "Set: Invoice Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Timesheet JSON Fields": {
      "main": [
        [
          {
            "node": "Get Customer Info From PO Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request(new sheet)": {
      "main": [
        [
          {
            "node": "Move Created Sheet to Final Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1(create sheet)": {
      "main": [
        [
          {
            "node": "Drive: Move Sheet To Final Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-28T08:00:16.216Z",
  "id": "bD1is4pHOI3PxpmR",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 33",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "=has:attachment (filename:timesheet OR subject:timesheet)",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -7120,
        752
      ],
      "id": "87ce7a42-e246-464a-b466-f5f1f6a8c118",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "GjmgJcRU3g4v3mEv",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nconst binary = items[0].binary;\n\nfor (const key in binary) {\n  newItems.push({\n    json: {},\n    binary: {\n      [key]: binary[key]\n    }\n  });\n}\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6896,
        752
      ],
      "id": "0460076d-e261-420b-94c2-e20ab74c4be7",
      "name": "Split Binary Attachments"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6672,
        752
      ],
      "id": "797d4d1d-87a3-4106-b30d-425f2678f973",
      "name": "Loop: Process Each Attachment",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the following from the timesheet text:\n\n- Employee Name  \n- Week Starting Date  \n- Week Ending Date  \n- Total Working Hours  \n- Client Name\n\nInstructions:\n\n- For Week Starting Date:  \n  - If a phrase like \"Period from ... to ...\" is present, extract the **first date** from it. Use the date exactly as written.  \n  - If no such phrase is found, and there is a row with weekdays like \"Monday Tuesday...\" followed by short-form dates like \"Mar-17\", \"May-5\", etc., extract the **first date** in that row.  \n  - Convert the short-form date into full format: **MM/DD/YYYY**.  \n    Example: \"Mar-17\" → \"03/17/2025\", \"May-5\" → \"05/05/2025\".  \n  - Do not return \"Mar-17\", \"May-5\", or any partial date format. Always return the full date in MM/DD/YYYY.\n\n- For Week Ending Date:  \n  - If a phrase like \"Period from ... to ...\" is present, extract the **second date**.  \n  - If weekday headers with short-form dates are present, extract the **last date** in that row.  \n  - Again, convert to **MM/DD/YYYY** format.  \n    Example: \"May-11\" → \"05/11/2025\".\n\n- Do not calculate, assume, or guess dates. Only convert short-form dates to MM/DD/YYYY format using the correct month and year from the timesheet.\n- Look for a label such as:\n - \"Total Hours\",  \n   - \"Total Billable Hours\", \n  - \"Total Number of Hours Worked\"  \n   - or any clearly indicated **total row or cell** at the bottom of the table.\n\n- Do not sum individual daily entries.\n- Return numbers exactly as shown (e.g., 40.00).\n\nOutput the result in this exact JSON format:\n\n{{ $json.data[0].text }}\n"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -6128,
        768
      ],
      "id": "af7850b0-e5c8-448b-b399-d67b663d88fa",
      "name": "Extract Timesheet Data (OpenAI)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -5440,
        768
      ],
      "id": "8c7aad74-4441-47c7-8156-a8a244d0bcd6",
      "name": "Get Customer Info From PO Sheet",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3ddd851-ac75-4900-b55e-95cc463788b5",
              "name": "Invoice Date",
              "value": "={{ $('Set Timesheet JSON Fields').item.json['Week End Date'].trim() }}\n",
              "type": "string"
            },
            {
              "id": "0e628019-2892-4b62-8635-4aa3f476a5bb",
              "name": "Due Date",
              "value": "={{ $('Set Timesheet JSON Fields').item.json['Week End Date'].toDateTime().plus($('Get Customer Info From PO Sheet').item.json[\"Due Date Calculation\"], 'days').format('MM/dd/yyyy').trim()}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        272
      ],
      "id": "cdcefae3-154c-4562-92b7-7506cdb271f3",
      "name": "Set Invoice Date & Due Date Days"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a628947e-a7e6-489d-978f-d7662dcb3e64",
              "name": "Sheet Name ",
              "value": "={{ \n  $('Set Timesheet JSON Fields').item.json['Employee Name'].trim().replace(/\\s+/g, '') + '_' +\n  $('Set Timesheet JSON Fields').item.json['Week Start Date'].trim() +\n  '_to_' +\n  $('Set Timesheet JSON Fields').item.json['Week End Date'].trim()\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2288,
        272
      ],
      "id": "2c8cac15-9aec-464a-a820-7aefbe4f5618",
      "name": "Generate Sheet Name (Employee + Week Start to End Dates)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "798b8ca0-6192-47b5-b1c8-b716d7667f8c",
              "name": " Invoice range for debug",
              "value": "={{ $('Get Customer Info From PO Sheet').item.json['Invoice range'] }}",
              "type": "string"
            },
            {
              "id": "f04c0bd7-b5f7-4a86-84b9-164eebf887a2",
              "name": "Year Folder id",
              "value": "={{ $json.id ||$('Create Current Year Folder').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3264,
        640
      ],
      "id": "6951b033-5547-4f23-a6b4-d140126e48af",
      "name": "Set: Invoice Range"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "768e3b62-b460-4845-abce-3e2058826a7a",
              "leftValue": "={{ $json.id}}",
              "rightValue": "={{ $('Set: File Name from Start & End Based Date Range').item.json['Sheet Name 1'] }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        976
      ],
      "id": "dd1191dc-d72d-400e-8ffd-32775b6927a8",
      "name": "If: File Already Exists?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d064b0bc-6c78-4f05-a8e4-4e6a6be858e5",
              "leftValue": "={{ $('Set: Invoice Range').item.json[' Invoice range for debug'] }}",
              "rightValue": "=15 days",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2912,
        640
      ],
      "id": "031af0bc-68ad-49c4-8902-54fb547d792d",
      "name": " If: Invoice Range is 15 Days?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a628947e-a7e6-489d-978f-d7662dcb3e64",
              "name": "File Name (Start Date Based)",
              "value": "={{\n(() => {\n  const emp = $('Set Timesheet JSON Fields').item.json['Employee Name']?.replace(/\\s+/g,'') ?? 'Unknown';\n\n  // Clean up and normalise date string\n  let raw = $('Set Timesheet JSON Fields').item.json['Week Start Date']?.trim();\n  raw = raw.replace(/\\//g, '-'); // 08/25/2025 -> 08-25-2025\n\n  const [mm, dd, yyyy] = raw.split('-');\n  const startDate = new Date(`${yyyy}-${mm}-${dd}T12:00:00`);\n  const endDate = new Date(startDate.getTime() + 13 * 86400000);\n\n  const pad = n => n.toString().padStart(2, '0');\n  const format = d => `${pad(d.getMonth() + 1)}-${pad(d.getDate())}-${d.getFullYear()}`;\n\n  return `${emp}_${format(startDate)}_to_${format(endDate)}`;\n})()\n}}\n",
              "type": "string"
            },
            {
              "id": "d60af835-8f88-4fa5-9132-36e9052c52c7",
              "name": "File Name (End Date Based)",
              "value": "={{\n(() => {\n  // clean employee name\n  const emp = $('Set Timesheet JSON Fields').item.json['Employee Name']?.replace(/\\s+/g,'') ?? 'Unknown';\n\n  // get end date string and normalise it\n  let rawEnd = $('Set Timesheet JSON Fields').item.json['Week End Date']?.trim() || '';\n  rawEnd = rawEnd.replace(/\\//g,'-');\n\n  // split into parts\n  const [mmE, ddE, yyyyE] = rawEnd.split('-');\n\n  // build Date object for end date\n  const endDate = new Date(`${yyyyE}-${mmE}-${ddE}T12:00:00`);\n\n  // subtract 13 days to get start date\n  const startDate = new Date(endDate.getTime() - 13 * 86400000);\n\n  // helper to pad numbers\n  const pad = n => n.toString().padStart(2,'0');\n  const format = d => `${pad(d.getMonth()+1)}-${pad(d.getDate())}-${d.getFullYear()}`;\n\n  return `${emp}_${format(startDate)}_to_${format(endDate)}`;\n})()\n}}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        928
      ],
      "id": "418a0a3c-4233-48b1-9e0f-31f1b0017fa7",
      "name": "Set: File Name from Start & End Based Date Range"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1712,
        976
      ],
      "id": "4c347d9a-c68a-499b-983e-a87a493ba18d",
      "name": " Merge: Combine Folder Search Results",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $json[\"Sheet Name \"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1984,
        272
      ],
      "id": "a2701092-4d1a-48f3-b3bc-ade5bdfa00bb",
      "name": "Create New Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Set: Invoice Range').item.json['Year Folder id']||  $('Create Current Year Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1520,
        272
      ],
      "id": "f21db8a7-1a61-4046-abd6-6312203a37fa",
      "name": "Move Created Sheet to Final Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Customer Account Number\": \"\",\n   \"Invoice Date\": \"\",\n  \"Due Date\": \"\",\n   \"PO Number\": \"\",\n  \"Item Column Title\":\"\",\n  \"Quantity Column\":\"\",\n  \"Item Name\":\"\",\n  \"Quantity\" :\"\",\n  \"Unit Price\":\"\",\n  \"Description\" :\"\"\n  \n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        272
      ],
      "id": "7d293b58-2a76-4731-8103-5da138f1393e",
      "name": " Set: Row Data",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Account Number",
              "displayName": "Customer Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Column Title",
              "displayName": "Item Column Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Column",
              "displayName": "Quantity Column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decription",
              "displayName": "Decription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        272
      ],
      "id": "24eb5310-0fc2-47ef-a07f-5d54c39a987e",
      "name": " Sheets: Append Row",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Account Number": "={{ $('Get Customer Info From PO Sheet').item.json[\"Customer Account Number\"] }}",
            "PO Number": "={{ $('Get Customer Info From PO Sheet').item.json[\"PO Number\"] }}",
            "Item Column Title": "Items",
            "Quantity Column": "Hours",
            "Item Name": "={{ $('Get Customer Info From PO Sheet').item.json.Item }}",
            "Invoice Date": "={{ $('Set Invoice Date & Due Date Days').item.json[\"Invoice Date\"] }}",
            "Quantity": "={{ $('Set Timesheet JSON Fields').item.json[\"Total Billable hours\"] }}",
            "Description": "=Week Period from {{ $('Set Timesheet JSON Fields').item.json['Week Start Date'] }} to {{ $('Set Timesheet JSON Fields').item.json['Week End Date'] }}",
            "Due Date": "={{ $('Set Invoice Date & Due Date Days').item.json[\"Due Date\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Account Number",
              "displayName": "Customer Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Column Title",
              "displayName": "Item Column Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Column",
              "displayName": "Quantity Column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -784,
        272
      ],
      "id": "3eec4b39-7b40-4f50-bf13-0f7ac00ce342",
      "name": " Sheets: Final Append",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Set: File Name from Start & End Based Date Range').item.json['File Name (Start Date Based)'] }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "=Sheet1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1264,
        1280
      ],
      "id": "58c09537-c8c7-4e42-9691-90e6731c5838",
      "name": " Sheets: Create Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $(' Sheets: Create Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $(' Sheets: Create Sheet').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Account Number",
              "displayName": "Customer Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Column Title",
              "displayName": "Item Column Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Column",
              "displayName": "Quantity Column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decription",
              "displayName": "Decription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -528,
        1280
      ],
      "id": "9570c6e8-5c5c-45e3-9760-2058ac45a9ee",
      "name": " Sheets: Append Row1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "text"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6400,
        768
      ],
      "id": "b3073fc2-5281-4d75-8a58-647ffbfaa8dc",
      "name": "Extract Text from Attachment"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5040,
        768
      ],
      "id": "340eb3c0-7e59-4da5-a753-a1c0111bba0c",
      "name": "Search: Client Invoices Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Set Timesheet JSON Fields').item.json['Client Name'] }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4832,
        768
      ],
      "id": "2a853b8e-941b-4def-ab26-9ab7dcb7ba95",
      "name": "Search: Client Folder by Name",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json['File Name (Start Date Based)'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2176,
        816
      ],
      "id": "8e38f87b-707e-4e36-aa10-edb7067f6364",
      "name": "Search: File By Start Date Name",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json['File Name (End Date Based)'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2160,
        1040
      ],
      "id": "20d3361a-0e06-4f7d-af7a-84dd56e50ed5",
      "name": "Search: File By End Date Name",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Set: Invoice Range').item.json['Year Folder id']||  $('Create Current Year Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -912,
        1280
      ],
      "id": "c7b82a70-5d5b-4448-85ee-2e6f9f420296",
      "name": "Drive: Move Sheet To Final Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Customer Account Number\": \"\",\n   \"Invoice Date\": \"\",\n  \"Due Date\": \"\",\n   \"PO Number\": \"\",\n  \"Item Column Title\":\"\",\n  \"Quantity Column\":\"\",\n  \"Item Name\":\"\",\n  \"Quantity\" :\"\",\n  \"Unit Price\":\"\",\n  \"Description\" :\"\"\n  \n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        1280
      ],
      "id": "62b6b38c-d93a-4b31-bbaf-a14b80ed8de1",
      "name": "Set: Empty Row Structure",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89af4fa2-04e9-4e86-90cd-805437cb96c4",
              "name": "id",
              "value": "={{ $(' Sheets: Create Sheet').item.json.spreadsheetId }}",
              "type": "string"
            },
            {
              "id": "6625391b-df04-4775-976d-baeb91ff083c",
              "name": "name",
              "value": "={{ $(' Sheets: Create Sheet').item.json.properties.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        1280
      ],
      "id": "a17b04d9-705c-4ed9-acc3-d4b971ad790d",
      "name": "Set: Spreadsheet  (ID & Name)"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Account Number": "={{ $('Get Customer Info From PO Sheet').item.json['Customer Account Number'] }}",
            "Invoice Date": "={{ $json.name.split(\"_to_\")[1].replaceAll('-', '/').trim() }}",
            "PO Number": "={{ $('Get Customer Info From PO Sheet').item.json['PO Number'] }}",
            "Item Column Title": "Items",
            "Quantity Column": "Hours",
            "Item Name": "={{ $('Get Customer Info From PO Sheet').item.json.Item }}",
            "Quantity": "={{ $('Set Timesheet JSON Fields').item.json['Total Billable hours'].trim() }}",
            "Due Date": "={{ $json.name.split(\"_to_\")[1].trim().toDateTime('MM-dd-yyyy').plus($('Get Customer Info From PO Sheet').item.json['Due Date Calculation'],'days').format('MM-dd-yyyy').replaceAll('-', '/').trim() }}",
            "Description": "=Week ending {{ $('Set Timesheet JSON Fields').item.json[\"Week End Date\"].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Account Number",
              "displayName": "Customer Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Column Title",
              "displayName": "Item Column Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Column",
              "displayName": "Quantity Column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -32,
        1280
      ],
      "id": "058a5baf-6f32-4822-ae06-d0c67f644ca6",
      "name": "Append: Final Row to Existing Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "daebe4a7-edcf-4902-a5d7-6c6b4ad995c8",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3664,
        656
      ],
      "id": "d546cefb-f8cb-4385-81f7-02b08f627e13",
      "name": "Check if Year Folder Exists"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Set Timesheet JSON Fields').item.json['Client Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search: Client Invoices Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4384,
        912
      ],
      "id": "a5141e72-4f6c-4334-aac7-1e836af18b3c",
      "name": "Create Client Name Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4d2d3f6-4fff-473b-9dd6-27bb19e8ce67",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4592,
        768
      ],
      "id": "7384fb2c-b9a7-4054-a751-1b872d581848",
      "name": "Check Client Name Folder"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get Customer Info From PO Sheet').item.json['Folder Name'] }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4320,
        544
      ],
      "id": "64995379-b50c-4412-92fc-02101b06bd18",
      "name": "Search: Employee Name Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2582c0dd-ec40-421a-8246-e5ecb32c9d0f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4128,
        544
      ],
      "id": "43f1592f-8461-433d-bb8a-4533373328bb",
      "name": "Check Employee Name Folder"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Get Customer Info From PO Sheet').item.json['Folder Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Check Client Name Folder').item.json.id || $('Create Client Name Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4080,
        912
      ],
      "id": "18aedc4f-54af-4531-9bb5-0462fcba562c",
      "name": "Create Employee Name Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Set Timesheet JSON Fields').item.json['Current Year'] }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3856,
        528
      ],
      "id": "d394c96e-5a7b-4fc1-864d-d3b661133347",
      "name": "Search: Year Folder ",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Set Timesheet JSON Fields').item.json['Current Year'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3840,
        912
      ],
      "id": "c3ae7f46-6e1a-4e04-a983-1c67840ef848",
      "name": "Create Year Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Set Timesheet JSON Fields').item.json['Current Year'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search: Employee Name Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3472,
        928
      ],
      "id": "b4ac8818-d950-4f59-b320-40e6ae181170",
      "name": "Create Current Year Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12c3738c-4b46-44fe-a482-efeb1beda924",
              "name": "=Employee Name",
              "value": "={{ JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"Employee Name\"].replace(/[\\n\\r]/g, '').trim() }}\n\n\n",
              "type": "string"
            },
            {
              "id": "b6bdd6c3-f57d-4695-9863-68e37b3bf10b",
              "name": "=Total Billable hours",
              "value": "={{ JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"Total Working Hours\"].replace(/[\\n\\r]/g, '').trim() }}\n\n",
              "type": "string"
            },
            {
              "id": "f826dc43-34ca-47bf-a823-9e21c0a46df8",
              "name": "Week Start Date",
              "value": "={{ JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"Week Starting Date\"].replaceAll('-', '/').trim()}}\n",
              "type": "string"
            },
            {
              "id": "faf34b88-5e61-4c15-97b6-7c933d69c279",
              "name": "Week End Date",
              "value": "={{ JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"Week Ending Date\"].replaceAll('-', '/').trim().replace(/[\\n\\r]/g, '')}}\n",
              "type": "string"
            },
            {
              "id": "95dd93b1-8e25-422f-b6fb-73bf65aa792e",
              "name": "Client Name",
              "value": "={{ JSON.parse($json[\"choices\"][0][\"message\"][\"content\"].replaceAll('\\n', '').replaceAll('\\r', ''))[\"Client Name\"].trim() }}\n",
              "type": "string"
            },
            {
              "id": "8c92f891-1393-4199-b9ba-3683750455f1",
              "name": "Current Year",
              "value": "={{ JSON.parse($json[\"choices\"][0][\"message\"][\"content\"])[\"Week Starting Date\"].split('/')[2] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5696,
        768
      ],
      "id": "ac3907f4-1e21-44bc-8707-0196c641264c",
      "name": "Set Timesheet JSON Fields"
    },
    {
      "parameters": {
        "content": "## OCR extraction\nSends each attachment to the OCR API and returns plain text. This turns PDFs and images into machine readable text before AI parsing.\n",
        "height": 304,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6480,
        608
      ],
      "typeVersion": 1,
      "id": "a9f7449f-e724-451f-8e6b-330104591223",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Build invoice dates\nCalculates the invoice date and due date using the timesheet's week end date and PO due date rules. Outputs clean fields used to name and populate the invoice sheet.\n",
        "height": 272,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2512,
        128
      ],
      "typeVersion": 1,
      "id": "98a98ac1-856a-4f5d-97d2-645375e4874f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## create new year folder",
        "height": 224,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3568,
        864
      ],
      "typeVersion": 1,
      "id": "3b7abbc0-cd8e-4cd8-b34f-3fd2c2d052d5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create invoice sheet\nGenerates the sheet name, creates a new Google Sheet, updates its timezone, and moves it into the correct year folder based on the employee and date range.\n",
        "height": 256,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        128
      ],
      "typeVersion": 1,
      "id": "ec7a2360-1081-4527-9456-a0068c0f56a2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Write invoice row\nInitializes the row structure, maps customer and timesheet fields, and appends the invoice row into the newly created sheet to complete the entry.\n",
        "height": 256,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        160
      ],
      "typeVersion": 1,
      "id": "db62fec3-3831-478c-be6d-0ea4b132ad45",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Decide reuse or create sheet\nChecks the merged search results. If a matching sheet exists, route to append a new invoice row. If nothing is found, route to create a fresh sheet for this employee and date range.\n",
        "height": 336,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        816
      ],
      "typeVersion": 1,
      "id": "19828bb4-04c0-4b73-a56e-0befdab104f7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Email intake and loop\nListens to Gmail for unread timesheet emails, splits all attachments, and processes each one in a loop so multiple timesheets in the same email are handled independently.\n",
        "height": 320,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7152,
        608
      ],
      "typeVersion": 1,
      "id": "4030985b-8b57-40ae-a6a1-864d4def5ace",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Timesheet to Invoice Automation\n\n## How it works\nThe workflow automates converting emailed timesheets into organized invoice sheets.\n\n**1. Email intake**\nPulls unread Gmail messages with timesheet attachments. Each file is separated and processed individually.\n\n**2. Text extraction**\nAttachments are sent to an OCR API to convert PDFs or images into clean text.\n\n**3. AI parsing**\nOpenAI extracts key fields:\n- Employee name  \n- Client name  \n- Week start and end dates  \n- Total billable hours  \n- Timesheet year\n\n**4. Customer and PO lookup**\nYour Customer POs Google Sheet provides:\n- Account and PO numbers  \n- Item name  \n- Folder naming rules  \n- Invoice range  \n- Due date offset\n\n**5. Drive folder logic**\nThe workflow locates or creates:\n- Client folder  \n- Employee folder  \n- Year folder  \ninside the 01-ClientInvoices directory.\n\n**6. Sheet handling**\nBuilds a file name from employee and dates, checks if a sheet already exists, then:\n- Appends a row to an existing sheet, or  \n- Creates a new sheet, sets timezone, writes the invoice row, and moves it to the correct folder.\n\n## Setup steps\nConnect Gmail, Drive, Sheets, OpenAI, and OCR.  \nUpdate PO Sheet ID and column names.  \nConfirm Gmail filter.  \nEnsure the 01-ClientInvoices folder exists.  \nTest with one sample email.\n\n",
        "height": 992,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8208,
        272
      ],
      "typeVersion": 1,
      "id": "b71ffe42-26c6-42b5-850a-835de9182923",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Customer and PO lookup\nLooks up the sender in the Customer POs sheet and pulls account number, PO number, item name, folder name, invoice range, and due date offset that drive the invoice logic.\n",
        "height": 320,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5536,
        608
      ],
      "typeVersion": 1,
      "id": "fbf95800-fcc9-4776-8141-68dd2c886f0f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## AI timesheet parsing\nOpenAI reads the timesheet text and extracts employee name, client name, week start and end dates, total hours, and current year into clean JSON fields for later use.\n",
        "height": 304,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6144,
        608
      ],
      "typeVersion": 1,
      "id": "6c262c74-70ca-403d-9887-73fd8630c5bc",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Client folder discovery\nSearch Client Invoices folder, finds or creates the client level folder based on the timesheet client name and PO configuration.\n",
        "height": 304,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5104,
        624
      ],
      "typeVersion": 1,
      "id": "d1dd448a-edfa-4a62-ad33-8a3e4fdbf605",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## ## File naming and search\n searches Drive for existing sheets with the employee and if it exist get that year's folder",
        "height": 256,
        "width": 704,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4384,
        432
      ],
      "typeVersion": 1,
      "id": "1eb23006-723d-4afb-8be2-85702d63c6e7",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Create new \ncreate new client name, employee and year named folder\n",
        "height": 224,
        "width": 704,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4416,
        816
      ],
      "typeVersion": 1,
      "id": "feec06a8-cd41-4a32-88cd-87738b916622",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$json.spreadsheetId}}:batchUpdate\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"updateSpreadsheetProperties\": {\n        \"properties\": {\n          \"timeZone\": \"America/New_York\"\n        },\n        \"fields\": \"timeZone\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        272
      ],
      "id": "5f10a262-9c27-4002-b637-31098a8b73da",
      "name": "HTTP Request(new sheet)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "content": "## Build file names and search\nGenerates start based and end based file names from employee and week dates, then searches Google Drive for existing spreadsheets that match either name. Both search results are merged to see if this invoice period is already stored.\n\n",
        "height": 544,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2624,
        704
      ],
      "typeVersion": 1,
      "id": "7ed7ba40-2732-48f3-87eb-5374d850e38e",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Create invoice sheet\nGenerates the sheet name, creates a new Google Sheet, updates its timezone, and moves it into the correct year folder based on the employee and date range.\n",
        "height": 288,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        1136
      ],
      "typeVersion": 1,
      "id": "5ce8ea5e-3b9b-4800-8b6a-f43d3f1d03b3",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$json.spreadsheetId}}:batchUpdate\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"updateSpreadsheetProperties\": {\n        \"properties\": {\n          \"timeZone\": \"America/New_York\"\n        },\n        \"fields\": \"timeZone\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        1280
      ],
      "id": "9c95568f-4f66-428a-a4e4-deae2201b462",
      "name": "HTTP Request1(create sheet)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "content": "## Write invoice row\n append invoice rows\nFor new sheets, creates the sheet, sets timezone, moves it to the correct year folder, prepares an empty row structure, and writes the first invoice row. For existing sheets, appends a new invoice line using the same column structure.\n\n\n\n\n\n\n\n",
        "height": 288,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        1120
      ],
      "typeVersion": 1,
      "id": "a04d99d7-e658-4738-9d3b-99b921d26689",
      "name": "Sticky Note16"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Extract Timesheet Data (OpenAI)": [
      {
        "json": {
          "id": "chatcmpl-CLRCXYusNGvZDi612KZfS0TtPrNdL",
          "object": "chat.completion",
          "created": 1759225485,
          "model": "gpt-4-0613",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": "{\n\"Employee Name\": \"Krishna Attaluri\",\n\"Week Starting Date\": \"08/25/2025\",\n\"Week Ending Date\": \"08/31/2025\",\n\"Total Working Hours\": \"40.00\",\n\"Client Name\": \"Albany Engineered Composites Inc.\"\n}",
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 616,
            "completion_tokens": 64,
            "total_tokens": 680,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": null
        }
      }
    ]
  },
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-28T08:00:16.223Z",
      "updatedAt": "2025-11-28T08:00:16.223Z",
      "role": "workflow:owner",
      "workflowId": "bD1is4pHOI3PxpmR",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-30T09:56:11.000Z",
  "versionId": "c87df3d9-a3fa-44f8-ad85-8dd2fc4009dc"
}