profile.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-28T07:24:27.684Z",
  "id": "JyKT32gRj3cdM3pK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "profile",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ac326fe0-5bfd-4664-94a2-992f313e4b7a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "companies",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "Digital Biz Tech"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "6275b27a-5a41-47fc-8782-43e09f35c0fc",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "x822FOiKWL83DNCQ",
          "name": "Supabase account 5 rn dbt profile"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the first input item (your full company object)\nconst input = items[0].json;\n\n// Wrap it under `output`\nreturn [\n  {\n    json: {\n      output: input\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "ddae0f26-fe36-4196-8714-43f441ef0f2b",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab64659c-6f78-40b6-802c-97d669afaa64",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        0
      ],
      "id": "a1fdd75b-655c-4535-ba29-4e28bf8c540d",
      "name": "Edit Fields"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-31T10:04:51.000Z",
  "versionId": "15196352-9841-47f7-a499-7a6593413785"
}