prov2.json
{
  "active": false,
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "extract metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Google Drive  get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud2": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "map data into fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "product catalog agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "product catalog agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "product catalog agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "product catalog agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract metadata": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive  get file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map data into fields": {
      "main": [
        [
          {
            "node": "convert data into chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert data into chunks": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "product catalog agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-07T10:55:38.668Z",
  "id": "ojdUP3HfJn9I4Lxg",
  "isArchived": false,
  "meta": null,
  "name": "prov2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        320
      ],
      "id": "69d540eb-41b6-4f53-959f-c24bd3a9c2ea",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
              "name": "last_modified_date",
              "value": "={{ $json.modifiedTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e63716d9-64b8-4444-ad17-3ed5988e186a",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        336
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "limit": 150,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink",
            "mimeType",
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        320
      ],
      "id": "867744ff-dc86-4179-a08c-afc62ac6a9f2",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2112,
        336
      ],
      "id": "89f90732-5ef1-4153-bba6-c8b6da8c8d1e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_url",
                "value": "={{ $json.metadata.url }}"
              },
              {
                "name": "blobType",
                "value": "application/jsonb"
              },
              {
                "name": "loc",
                "value": "={{ $json.metadata.loc }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              },
              {
                "name": "page_no",
                "value": "={{ $json.metadata.page }}"
              },
              {
                "name": "topics",
                "value": "={{ $('map data into fields').item.json['topics '] }}"
              }
            ]
          }
        }
      },
      "id": "e200b3bc-9dfb-4918-b1e7-1fa302a8e983",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3136,
        496
      ]
    },
    {
      "parameters": {
        "chunkSize": 100000
      },
      "id": "29202940-8a95-4ea5-9433-b285a459db7b",
      "name": "Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3216,
        608
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        3024,
        624
      ],
      "id": "dcc07d28-3e7f-4f71-bdb3-8d4d67bc972d",
      "name": "Embeddings Mistral Cloud2"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "website_mark",
          "mode": "list",
          "cachedResultName": "website_mark"
        },
        "options": {
          "queryName": "match_website_mark"
        }
      },
      "id": "340614f2-4078-4edc-971a-771d5470fb7e",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3040,
        336
      ]
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2288,
        336
      ],
      "id": "3f65d1c3-c2b6-4ee5-a76c-a7fd520de19d",
      "name": "Wait1",
      "webhookId": "d57cefa3-f499-4848-9816-f0b80bcd0d49"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3568,
        336
      ],
      "id": "dce3e060-01e5-4091-b391-a747724e2674",
      "name": "Wait4",
      "webhookId": "2e21183b-4e03-4dc1-aef7-b9805cf93a22"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "id": "c67d87db-123f-4d77-935a-7ec46103150d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "topK": 10,
        "options": {
          "queryName": "match_product"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1936,
        1504
      ],
      "id": "5be53e74-2892-42fb-b021-8ec327f6edc3",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "model": "mistral-medium-latest",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1152,
        1568
      ],
      "id": "b78ffb2d-5c1e-4ab8-ba35-3d152b38f7aa",
      "name": "Mistral Cloud Chat Model4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        1776,
        1568
      ],
      "id": "b40c482d-8820-4026-81ce-a99d5a723e9e",
      "name": "Embeddings Mistral Cloud"
    },
    {
      "parameters": {
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        1552
      ],
      "id": "6fae4355-673c-4965-b715-102e3181f961",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b4c843be-698d-40c6-8e31-9370f5e165e0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        800,
        1248
      ],
      "id": "ea601660-06db-4e32-aefb-5ef561fad2a4",
      "name": "Webhook1",
      "webhookId": "b4c843be-698d-40c6-8e31-9370f5e165e0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.chatInput || $json.body?.chatInput || $json.body?.[0]?.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json.sessionId || $json.body?.sessionId || $json.body?.[0]?.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c6b2003e-6342-4df3-a271-e0d2b40da3f8",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        1248
      ]
    },
    {
      "parameters": {
        "content": "## Drive ingestion\nFinds files in the configured Drive folder. Loops over items and downloads each file.\n",
        "height": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        192
      ],
      "typeVersion": 1,
      "id": "7d4a34ad-4729-405a-add6-0e7daf8378f4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - SharePoint URL with Version Parameter\n// Use this in a \"Code\" node in n8n\n\nconst items = $input.all();\n\nconst outputItems = items.map(item => {\n  const data = item.json;\n  \n  // Use existing LinkingUrl if available\n  if (data.LinkingUrl) {\n    return {\n      json: {\n        ...data,\n        fileUrl: data.LinkingUrl\n      }\n    };\n  }\n  \n  // Construct versioned URL\n  let fileUrl = '';\n  \n  if (data.ServerRelativeUrl && data.ContentTag) {\n    // Base URL with server relative path\n    fileUrl = 'https://nosta.sharepoint.com' + data.ServerRelativeUrl;\n    \n    // Extract GUID from ContentTag and create version parameter\n    const guidMatch = data.ContentTag.match(/\\{([^}]+)\\}/);\n    if (guidMatch) {\n      const versionId = guidMatch[1].toLowerCase().replace(/-/g, '');\n      fileUrl += `?d=w${versionId}`;\n    }\n  }\n  \n  return {\n    json: {\n      ...data,\n      fileUrl: fileUrl\n    }\n  };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        336
      ],
      "id": "29850e16-6c48-422e-8de6-ec39e9046f86",
      "name": "extract metadata"
    },
    {
      "parameters": {
        "content": "## map extracted metadata ",
        "height": 304,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        208
      ],
      "typeVersion": 1,
      "id": "483bf5bb-d13f-4d4e-8a39-fb7a3b6186c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Chunk & split\nCreates text chunks with overlap to prepare for embeddings.\n",
        "height": 272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2656,
        224
      ],
      "typeVersion": 1,
      "id": "4b8a401c-7036-4ffd-9f41-0c9951e6f044",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### downloaded file from google drive",
        "height": 304,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        208
      ],
      "typeVersion": 1,
      "id": "97b0b31e-104f-4228-8f83-7a0bdcfb40d1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Parse content\nConverts downloaded file into JSON/text and attaches minimal metadata (page, title, source_url).",
        "height": 304,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        208
      ],
      "typeVersion": 1,
      "id": "29996574-133f-4b59-a379-1651166bba81",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Map fields\nMaps parsed JSON into standardized fields\n",
        "height": 272,
        "width": 182,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        224
      ],
      "typeVersion": 1,
      "id": "e4f02b26-277f-4480-a323-73d24a31d802",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Extract metadata\nPulls file id, title, modified date, and other metadata used downstream.\n",
        "height": 352,
        "width": 176,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        176
      ],
      "typeVersion": 1,
      "id": "7a362baa-7ff0-41a0-b288-a4279e35bb23",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1920,
        336
      ],
      "id": "44c85182-f5f3-4499-ba0f-587512135052",
      "name": "Google Drive  get file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "639b4deb-04df-4b10-a146-65e83d98537a",
              "name": "title",
              "value": "={{ $json.data.page_title }} && {{ $json.data.title }}  ",
              "type": "string"
            },
            {
              "id": "a9c8c87e-86e5-48ac-b7e4-e5ac23b48ca9",
              "name": "summary",
              "value": "={{ $json.data.comprehensive_summary }}  ",
              "type": "string"
            },
            {
              "id": "8bdd5e0e-585c-4d39-a688-8994cf1145fd",
              "name": "topics ",
              "value": "={{ $json.data.key_topics }} ",
              "type": "string"
            },
            {
              "id": "0d5bfbfc-b1c0-4ecb-81c0-dd3b693ed302",
              "name": "process markdown",
              "value": "={{ $json.data.processed_markdown }}",
              "type": "string"
            },
            {
              "id": "1b3de282-470e-4f86-b5f7-374eb9f3a8c0",
              "name": "raw markdwon",
              "value": "={{ $json.data.raw_markdown }}",
              "type": "string"
            },
            {
              "id": "e58b64ff-4de6-41d5-8f0f-0738864be725",
              "name": "cleaned markdown",
              "value": "={{ $json.data.fit_markdown }}",
              "type": "string"
            },
            {
              "id": "0fcd4bf6-8083-4bfb-9b9e-53d0653e7ca9",
              "name": "URL",
              "value": "={{ $json.data.url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        336
      ],
      "id": "e1911303-2264-43b5-b269-73d3fafda28b",
      "name": "map data into fields"
    },
    {
      "parameters": {
        "jsCode": "const DEFAULT_CHUNK_SIZE = 2000;   // chunk size\nconst DEFAULT_OVERLAP = 0.3;       // 30% overlap\n\nfunction splitTextWithOverlap(text, chunkSize, overlap) {\n  const step = Math.max(1, Math.floor(chunkSize * (1 - overlap)));\n  const parts = [];\n  for (let start = 0; start < text.length; start += step) {\n    parts.push(text.slice(start, start + chunkSize));\n  }\n  return parts;\n}\n\nfunction extractUrl(text) {\n  if (!text) return \"\";\n  const match = text.match(/https?:\\/\\/[^\\s)'\"<>]+/);\n  return match ? match[0] : \"\";\n}\n\nconst incoming = $input.item.json;\n\n// 1. Combine fields for embedding\nconst combinedText = [\n  incoming.summary || \"\",\n  incoming[\"cleaned markdown\"] || \"\",\n  incoming[\"process markdown\"] || \"\"\n].join(\"\\n\\n\");\n\n// 2. Pick only ONE URL\nlet url = incoming.url || \"\";\nif (!url) {\n  url = extractUrl(incoming[\"cleaned markdown\"]) || extractUrl(incoming[\"raw markdwon\"]);\n}\n\n// 3. Chunk\nconst parts = splitTextWithOverlap(combinedText, DEFAULT_CHUNK_SIZE, DEFAULT_OVERLAP);\n\n// 4. Build output with metadata\nlet charPos = 0;\nconst response = parts.map((part, idx) => {\n  const from = charPos;\n  const to = charPos + part.length;\n  const out = {\n    content: part,\n    metadata: {\n      title: incoming.title || \"\",\n      url,                 // ✅ only one URL\n      page: 1,\n      chunk_index: idx,\n      loc: { Characters: { from, to } }\n    }\n  };\n  charPos = to;\n  return { json: out };\n});\n\nreturn response;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        336
      ],
      "id": "4d6e6ee7-cfdb-43a1-86b4-bc742985d755",
      "name": "convert data into chunks"
    },
    {
      "parameters": {
        "content": "## vector store and data loader\n### Embeddings → Store\nGenerates embeddings and inserts them into the Supabase vector table for RAG queries.\n",
        "height": 560,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2960,
        192
      ],
      "typeVersion": 1,
      "id": "3527df13-394b-4ac2-9dee-04438159d842",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        800,
        1408
      ],
      "id": "86a8d1f0-20cb-4bbd-87cb-b70b04fdc04e",
      "name": "When chat message received",
      "webhookId": "e7d4829a-a785-4dd0-bfce-8b781608f6f7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=## Persona\nYou are a helpful, intelligent AI support agent for  Catalog Suggestions\n\nWhen asked for suggestions/catalog info:\n\n## Knowledge Access Instructions\n- **Primary Source**: Always use the **Supabase store (products)** as the catalog reference.  \n- Query Supabase **only when the user asks for product suggestions or catalog info**.  \n\nIf a product is **found in Supabase**, display:  \n- Item name  \n- Item number  \n- Technical specifications  \n- Dimensions  \n- Product image  \n\n\n\n\n---\n\n\n\nDisplay Results:\n\nAlways show the user’s chosen grade wherever possible.guide and help user and Incorporate theiur choice. \n\n\nConversation Flow Template\n\nAgent (Greeting)\n\"Hello! 👋 I can help you  browse the catalog.\nWould you like to start explore product suggestions?\"\n\nUser (Form start)\n\"Yes, let’s configure a product.\"\n\n\n→ If the user asks for suggestions, query Supabase.\n\n\n\n\n\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1312,
        1200
      ],
      "id": "a2f32a5f-c5a8-485b-a1ce-60e21f985633",
      "name": "product catalog agent"
    },
    {
      "parameters": {
        "content": "## Catalog Agent\nQueries Supabase only when needed. Returns product name, specs, image, and suggested items.\n",
        "height": 288,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        1104
      ],
      "typeVersion": 1,
      "id": "02f16c30-8f5f-4199-adab-86d020a48ded",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "### Chat & Trigger\nReceives user queries via chat or webhook. Starts the RAG lookup when the user asks for product suggestions.\n",
        "height": 448,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        1104
      ],
      "typeVersion": 1,
      "id": "6c35a577-63cd-4f8f-997f-8e1f61a52c68",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## vector store with product catalog\n### Supabase Vectorstore\nHolds document vectors used by the agent to retrieve relevant product info at query time.\n",
        "height": 272,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        1392
      ],
      "typeVersion": 1,
      "id": "a120b98b-0dc7-45c6-affe-79868a82d8ae",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "\n## How it works\n- Loads files from a selected Google Drive folder.  \n- Extracts key details from each file (title, modified date, type).  \n- Converts documents into readable text.  \n- Splits long text into smaller, well-structured sections for efficient processing.  \n- Turns each text chunk into a **vector embedding** — a numeric form that captures meaning.  \n- Saves all embeddings in a **Supabase vector table** for later retrieval.  \n- When a user asks a question (via chat or webhook):  \n  - Finds the most relevant text chunks in Supabase.  \n  - Sends them to a language model to generate a precise answer.  \n- Lets users search or explore large product catalogs using simple natural language.\n\n\n## Setup steps\n1. Connect both Google Drive and Supabase credentials.  \n2. Set your source Drive folder ID in the Google Drive node.  \n3. Verify the Supabase table name in the “Insert into Supabase Vectorstore” node.  \n4. Run the workflow once to index a few test files.  \n5. Use the chat trigger or webhook to start asking questions.\n",
        "height": 560,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "eba59e22-7c41-4157-a7ec-9b784b4a3af4",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# Drive ingestion\nFinds files in a Drive folder and loops through each file for processing.\n",
        "height": 752,
        "width": 2032,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        16
      ],
      "typeVersion": 1,
      "id": "b18ea82d-7bd1-4a32-9d58-3ab48ed35700",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Chunk and Embed\nSplits text into chunks, creates embeddings, and saves them to Supabase.\n",
        "height": 752,
        "width": 1104,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        16
      ],
      "typeVersion": 1,
      "id": "a4934b41-f360-4afe-a856-a0578a4527e2",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Rate / pacing\nDelays between inserts to avoid API rate limits and ensure stable ingestion.\n",
        "height": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3456,
        240
      ],
      "typeVersion": 1,
      "id": "e792ca46-1f94-4ac0-9a57-c02eb14adb25",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Simple Memory\nShort-window memory for session context; do not store sensitive data.\n",
        "height": 256,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        1456
      ],
      "typeVersion": 1,
      "id": "d8918e74-519f-455d-8cd0-570325b5da49",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "### Mistral Model \nMistral handles text generation and user query.",
        "height": 224,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        1472
      ],
      "typeVersion": 1,
      "id": "25b6d246-36ef-4a69-8bcc-588f615818b2",
      "name": "Sticky Note16"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-07T10:55:38.675Z",
      "updatedAt": "2025-12-07T10:55:38.675Z",
      "role": "workflow:owner",
      "workflowId": "ojdUP3HfJn9I4Lxg",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-07T10:55:38.000Z",
  "versionId": "546199ca-0a49-4a40-a0fb-489dc58941c0"
}