Quickbooks sample prototype.json
{
  "active": false,
  "connections": {
    "QuickBooks Find Customer": {
      "main": [
        [
          {
            "node": "If Customer Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Customer Exists?": {
      "main": [
        [
          {
            "node": "QuickBooks Create Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QuickBooks Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickBooks Create Customer": {
      "main": [
        [
          {
            "node": "QuickBooks Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "QuickBooks Find Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Set: Spreadsheet  (ID & Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Spreadsheet  (ID & Name)": {
      "main": [
        [
          {
            "node": " Sheets: Append Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Binary Attachments": {
      "main": [
        [
          {
            "node": "Loop: Process Each Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Process Each Attachment": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Map Timesheet Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Each Month": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Timesheet Fields": {
      "main": [
        [
          {
            "node": "Create Sheet Name + Invoice Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicate Entry": {
      "main": [
        [
          {
            "node": "Skip January First Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Duplicate Found": {
      "main": [
        [
          {
            "node": "Loop: Process Each Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " Sheets: Append Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet Name + Invoice Date": {
      "main": [
        [
          {
            "node": "Get Customer Info From PO Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Create Sheet": {
      "main": [
        [
          {
            "node": "Move Sheet to Invoice Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Sheet to Invoice Folder": {
      "main": [
        [
          {
            "node": "Prepare Default Invoice Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Default Invoice Row": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If- File is Exist": {
      "main": [
        [
          {
            "node": "Check for Duplicate Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets: Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If: First Time This Month?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Client Invoices Folder": {
      "main": [
        [
          {
            "node": "Search: Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Employee Name Folder": {
      "main": [
        [
          {
            "node": "Check Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Employee Name Folder": {
      "main": [
        [
          {
            "node": "Search: Inside folders in Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Employee Name Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Inside folders in Employee Name Folder": {
      "main": [
        [
          {
            "node": "Search: folder name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: Year Folder ": {
      "main": [
        [
          {
            "node": "Check if Year Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search: folder name": {
      "main": [
        [
          {
            "node": "Search: Year Folder ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Year Folder Exists": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Current Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Current Year Folder": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Employee Name Folder": {
      "main": [
        [
          {
            "node": "Create  Folder Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "If- File is Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Info From PO Sheet": {
      "main": [
        [
          {
            "node": "Search: Client Invoices Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create  Folder Name": {
      "main": [
        [
          {
            "node": "Create: Year Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create: Year Folder": {
      "main": [
        [
          {
            "node": "Check if Year Folder Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Month array": {
      "main": [
        [
          {
            "node": "Split Each Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Split Binary Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Extract Text ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text ": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip January First Time": {
      "main": [
        [
          {
            "node": "Delete Exiting Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip If Duplicate Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Exiting Row": {
      "main": [
        [
          {
            "node": " Sheets: Append Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Month array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    " Sheets: Append Row1": {
      "main": [
        [
          {
            "node": "Loop: Process Each Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: First Time This Month?": {
      "main": [
        [
          {
            "node": "Map Timesheet Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-09T16:08:59.653Z",
  "id": "8SWEm84D3qqvwdhT",
  "isArchived": false,
  "meta": null,
  "name": "Quickbooks sample prototype",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ $('Get row(s) in sheet').item.json[\"Customer Account Number\"] }}",
        "filters": {
          "query": "=WHERE DisplayName = '{{ $json[\"Customer Name\"] }}'"
        }
      },
      "name": "QuickBooks Find Customer",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "38b1415a-3ff3-4855-9be4-8c7e1c11d451",
      "alwaysOutputData": true,
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "xm0M17aV9m8oIJtz",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "string": [
            {
              "value1": "={{ $('Get row(s) in sheet').item.json[\"Customer Account Number\"] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "If Customer Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "e53111bf-f189-4708-b961-3b19c6524989"
    },
    {
      "parameters": {
        "operation": "create",
        "displayName": "={{ $('Get row(s) in sheet').item.json[\"Customer Name\"] }}",
        "additionalFields": {
          "CompanyName": "={{ $('Get row(s) in sheet').item.json[\"Company Name\"] }}",
          "PrimaryEmailAddr": "={{ $('Get row(s) in sheet').item.json.Email }}"
        }
      },
      "name": "QuickBooks Create Customer",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        96,
        80
      ],
      "id": "a3bb6a9b-7e56-403c-8cac-452d9f54b7b6",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "xm0M17aV9m8oIJtz",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "resource": "invoice",
        "operation": "create",
        "CustomerRef": "66",
        "Line": [
          {
            "Description": "={{ $('Get row(s) in sheet').item.json.Decription }}",
            "Amount": "={{ $('Get row(s) in sheet').item.json.Quantity }}",
            "itemId": "2",
            "DetailType": "SalesItemLineDetail"
          }
        ],
        "additionalFields": {
          "CustomFields": {
            "Field": [
              {
                "DefinitionId": "=Customer Account Number",
                "StringValue": "={{ $('Get row(s) in sheet').item.json[\"Customer Account Number\"] }}"
              },
              {
                "DefinitionId": "=PO Number",
                "StringValue": "={{ $('Get row(s) in sheet').item.json[\"PO Number\"] }}"
              }
            ]
          },
          "DueDate": "={{ $('Get row(s) in sheet').item.json[\"Due Date\"] }}",
          "TotalAmt": "={{ $('Get row(s) in sheet').item.json.Quantity }}",
          "TxnDate": "={{ $('Get row(s) in sheet').item.json[\"Invoice Date\"] }}"
        }
      },
      "name": "QuickBooks Create Invoice",
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        336,
        -16
      ],
      "id": "17c5ef8e-8449-47af-9a87-4bbedbd7dee8",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "xm0M17aV9m8oIJtz",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        16
      ],
      "id": "b41d1cec-75df-45ff-b1b5-6189a8fa9a9f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1C1AMnWgs02TFbn03Him2R2JUe-ouTmYLWl-hgjT9DIM",
          "mode": "list",
          "cachedResultName": "BertholdSchmidt_April_2025\n\n\n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C1AMnWgs02TFbn03Him2R2JUe-ouTmYLWl-hgjT9DIM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1390319744,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C1AMnWgs02TFbn03Him2R2JUe-ouTmYLWl-hgjT9DIM/edit#gid=1390319744"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        0
      ],
      "id": "a4c8b808-c101-4531-a3dd-7e65afae86c4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheets: Create Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Google Sheets: Create Sheet').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Account Number",
              "displayName": "Customer Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Column Title",
              "displayName": "Item Column Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Column",
              "displayName": "Quantity Column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decription",
              "displayName": "Decription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1440,
        448
      ],
      "id": "1d951806-1630-41a5-af48-2c8b24ebdee1",
      "name": "Google Sheets2",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89af4fa2-04e9-4e86-90cd-805437cb96c4",
              "name": "id",
              "value": "={{ $('Google Sheets: Create Sheet').item.json.spreadsheetId }}",
              "type": "string"
            },
            {
              "id": "6625391b-df04-4775-976d-baeb91ff083c",
              "name": "name",
              "value": "={{ $('Google Sheets: Create Sheet').item.json.properties.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        448
      ],
      "id": "85a81845-1c91-4ab8-a9e5-8fe18f942de7",
      "name": "Set: Spreadsheet  (ID & Name)"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nconst binary = items[0].binary;\n\nfor (const key in binary) {\n  newItems.push({\n    json: {},\n    binary: {\n      [key]: binary[key]\n    }\n  });\n}\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7120,
        416
      ],
      "id": "c2321a96-cb31-49c7-a5d3-10a2d99510bf",
      "name": "Split Binary Attachments"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6928,
        416
      ],
      "id": "1a1137c3-13e2-4637-9002-f28bb5694764",
      "name": "Loop: Process Each Attachment",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4880,
        544
      ],
      "id": "54d50377-b6db-4e22-b2f1-1c1d1c9c9658",
      "name": "Wait1",
      "webhookId": "fb2df726-1ef6-469a-97ca-0735e2bbd051"
    },
    {
      "parameters": {
        "fieldToSplitOut": "months",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5632,
        448
      ],
      "id": "85492975-7426-4ec9-ab80-bacae69d2967",
      "name": "Split Each Month"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44bad27c-2c1d-46c7-9c60-d3a32b494a14",
              "name": "Employee Name",
              "value": "={{$('AI Agent').item.json.output.parseJson()['Employee Name'] }}",
              "type": "string"
            },
            {
              "id": "d5a52d08-8226-45bd-904a-82e03d1d2dba",
              "name": "Month",
              "value": "={{ $json.month }}\n",
              "type": "string"
            },
            {
              "id": "d0210ffe-0b19-4d18-9209-06257c9ab373",
              "name": "Total Hours",
              "value": "={{ $json['Total Hours'] }}\n",
              "type": "string"
            },
            {
              "id": "b5a64a37-8d6a-4040-bd07-b51fd15ba95b",
              "name": "Week Starting Date",
              "value": "={{ $json['Week Starting Date'] }}",
              "type": "string"
            },
            {
              "id": "c2ad96d6-deea-4869-995a-f5c580dbff76",
              "name": "Week Ending Date",
              "value": "={{ $json['Week Ending Date'] }}",
              "type": "string"
            },
            {
              "id": "00c459ba-b762-4337-8258-63d6fe56e370",
              "name": "Year",
              "value": "={{ $json.year }}",
              "type": "string"
            },
            {
              "id": "79c4a9c7-c6b6-49bb-a0da-764b64ab11c7",
              "name": "Client Name",
              "value": "={{ $('AI Agent').item.json.output.parseJson().Client}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4656,
        416
      ],
      "id": "155b43ab-8dd2-42d3-a024-6833996a1b8a",
      "name": "Map Timesheet Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Decription",
              "lookupValue": "=Week ending date {{ $('Map Timesheet Fields').all()[0].json['Week Ending Date'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1952,
        96
      ],
      "id": "6480eee0-70b1-4ed0-a5e6-b870d1fbceff",
      "name": "Check for Duplicate Entry",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b04fdc75-0d03-41b8-be76-7ed057d2087e",
              "leftValue": "={{ $json.Decription }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -256
      ],
      "id": "892d7246-f637-4698-9394-95118b3bd564",
      "name": "Skip If Duplicate Found"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec172078-ec0e-4c75-b7aa-945b0a6259d8",
              "name": "Sheet Name",
              "value": "={{$('Map Timesheet Fields').item.json['Employee Name'].trim().replace(/\\s/g, \"\") + \"_\" + $('Map Timesheet Fields').item.json.Month.trim().replace(/\\s/g, \"\") + \"_\" + new Date().getFullYear() }}\n\n\n",
              "type": "string"
            },
            {
              "id": "525e1d85-c316-4cee-90b8-21859c33633d",
              "name": "last date of current month",
              "value": "={{ \n  (() => {\n    const monthMap = {\n      January: 0, February: 1, March: 2, April: 3, May: 4, June: 5,\n      July: 6, August: 7, September: 8, October: 9, November: 10, December: 11,\n    };\n    const rawMonth = $json['month'] || $json['Month'] || '';\n    const monthStr = rawMonth.toString().trim().replace(/\\s+/g, ' ');\n    const rawYear = $json['year'] || $json['Year'] || '';\n    const year = Number(rawYear);\n    const monthIndex = monthMap[monthStr];\n\n    if (monthIndex === undefined || isNaN(year)) {\n      return `Invalid input: month='${monthStr}', year='${rawYear}'`;\n    }\n\n    // Use Date.UTC to calculate last day reliably\n    const lastDay = new Date(Date.UTC(year, monthIndex + 1, 0));\n    return lastDay.toISOString().split('T')[0];\n  })() \n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4480,
        416
      ],
      "id": "53124921-f499-4c8c-a18d-7dd14c622f53",
      "name": "Create Sheet Name + Invoice Date"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Create Sheet Name + Invoice Date').all()[0].json['Sheet Name'] }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "=Sheet1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2016,
        448
      ],
      "id": "64bebb2e-bc1f-4f36-b345-48813f9a3162",
      "name": "Google Sheets: Create Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Check if Year Folder Exists').item.json.id || $('Create Current Year Folder').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1856,
        448
      ],
      "id": "215a4eac-c38b-49c9-84d0-4589c6ed75c8",
      "name": "Move Sheet to Invoice Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"Customer Account Number\": \"\",\n   \"Invoice Date\": \"\",\n  \"Due Date\": \"\",\n   \"PO Number\": \"\",\n  \"Item Column Title\":\"\",\n  \"Quantity Column\":\"\",\n  \"Item Name\":\"\",\n  \"Quantity\" :\"\",\n  \"Unit Price\":\"\",\n  \"Decription\" :\"\"\n  \n  }\n",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        448
      ],
      "id": "a52d24c1-5574-4517-b168-a6dbb1f16af3",
      "name": "Prepare Default Invoice Row",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "768e3b62-b460-4845-abce-3e2058826a7a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=\n",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2256,
        336
      ],
      "id": "bd898dcc-7075-4270-86da-04de6820ec05",
      "name": "If- File is Exist",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa59ebe3-e51a-45ae-a3e0-2dfee0fba40c",
              "leftValue": "={{ $json['Total Hours'] }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "0a8ff7ab-4a71-4e83-b5e1-a99516b63846",
              "leftValue": "={{ $json.month }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5392,
        448
      ],
      "id": "8e52b9ad-2226-472b-8b32-166bb45d676b",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "01-ClientInvoices",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3920,
        416
      ],
      "id": "851a8e07-6b88-4cf2-81c9-04326fe17dde",
      "name": "Search: Client Invoices Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Map Timesheet Fields').item.json['Employee Name'] }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3728,
        416
      ],
      "id": "babdf1af-2259-4e1d-a84e-6a71bb937d18",
      "name": "Search: Employee Name Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4d2d3f6-4fff-473b-9dd6-27bb19e8ce67",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3488,
        400
      ],
      "id": "bbb1cc1e-7050-4fee-99d4-c2e39ce2faa5",
      "name": "Check Employee Name Folder"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3296,
        192
      ],
      "id": "084ed0dc-723e-4524-81ea-815b8ffc81c0",
      "name": "Search: Inside folders in Employee Name Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Map Timesheet Fields').item.json.Year }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search: Inside folders in Employee Name Folder').first().json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2960,
        192
      ],
      "id": "f6d9b08c-b330-4ada-ad9e-965e61f7aadd",
      "name": "Search: Year Folder ",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get Customer Info From PO Sheet').item.json['Folder Name'] }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3120,
        192
      ],
      "id": "ffc78631-dac9-458f-8054-95410021d10f",
      "name": "Search: folder name",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "daebe4a7-edcf-4902-a5d7-6c6b4ad995c8",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2752,
        352
      ],
      "id": "8a21666e-7c80-45fc-92a1-5afb422998f3",
      "name": "Check if Year Folder Exists"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Map Timesheet Fields').item.json.Year }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search: folder name').item.json.id  }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2592,
        544
      ],
      "id": "9f84ab61-22cb-499e-a941-eac3e5525518",
      "name": "Create Current Year Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Map Timesheet Fields').item.json['Employee Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search: Client Invoices Folder').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3296,
        528
      ],
      "id": "24029c56-b5c0-4a6f-a1ac-52eede41eb2e",
      "name": "Create Employee Name Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Create Sheet Name + Invoice Date').all()[0].json['Sheet Name']}}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2432,
        336
      ],
      "id": "ab17e5a8-a4c5-4334-ad18-087205b4d7c4",
      "name": "Google Drive",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11iUiyjpjaz6pNtSSncU3hwPvBzI5y2Gp8Tvuamjkd98",
          "mode": "list",
          "cachedResultName": "Customer POs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11iUiyjpjaz6pNtSSncU3hwPvBzI5y2Gp8Tvuamjkd98/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11iUiyjpjaz6pNtSSncU3hwPvBzI5y2Gp8Tvuamjkd98/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4208,
        416
      ],
      "id": "4b630a4c-9b30-4fd8-9af9-e4c5b06fe97c",
      "name": "Get Customer Info From PO Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Get Customer Info From PO Sheet').item.json['Folder Name']}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3104,
        528
      ],
      "id": "a61b37c7-f393-4ea9-a8de-652d1791925c",
      "name": "Create  Folder Name",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Map Timesheet Fields').item.json.Year }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2912,
        528
      ],
      "id": "7a077f39-0658-45a6-8ef4-1960c746f833",
      "name": "Create: Year Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a337e56-3cd4-46c4-aeb9-a9273bd34a3e",
              "name": "months",
              "value": "={{ JSON.stringify([ $json.output.parseJson().month1, $json.output.parseJson().month2 ]) }}",
              "type": "array"
            },
            {
              "id": "3d2cb537-6a4c-4ed1-b8cc-8b1d02af794d",
              "name": "Target month1",
              "value": "={{ $json.output.parseJson().month1['Week Starting Date'].split(\"/\")[0] }}\n",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5824,
        448
      ],
      "id": "c79abb11-8145-4462-8420-7ff1562295a2",
      "name": "Prepare Month array"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "=has:attachment (subject:\"Casper timesheet\" OR subject:\"Timesheets\")\n\n",
          "readStatus": "read"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -7312,
        416
      ],
      "id": "98caaec7-8239-4a72-b8bb-54b1088083d1",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "GjmgJcRU3g4v3mEv",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6704,
        432
      ],
      "id": "456cc411-396d-4b8f-859e-368dcb127a4c",
      "name": "Wait",
      "webhookId": "7bbe4025-cd13-4ac9-8c02-4eeb10699ab2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universal-file-to-text-extractor.vercel.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "mode",
              "value": "single"
            },
            {
              "name": "output_type",
              "value": "text"
            },
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6512,
        432
      ],
      "id": "df336a80-1129-4976-b141-27b1d3751b92",
      "name": "Extract Text "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e01b225a-7c1a-499d-9fbd-ad7e61de8af1",
              "leftValue": "={{ parseInt($json[\"Invoice Date\"].split(\"-\")[0].trim()) }}\n",
              "rightValue": "=1",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        96
      ],
      "id": "68acdc96-2180-4e0f-846a-2b97f72c3c3d",
      "name": "Skip January First Time"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('If- File is Exist').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1552,
        80
      ],
      "id": "b61961d4-578f-4241-87f5-bd45a9416c2d",
      "name": "Delete Exiting Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -6512,
        720
      ],
      "id": "4ad37f6d-5eda-46d0-8f7e-ea78591290e8",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract data **only** from the BILLABLE HOURS or DAYS section.\n\nIgnore:\n- “Period Ending”, signature dates, headers, or footers\n- NON-BILLABLE, HOLIDAY, LEAVE, or any other unrelated sections\n\n- extract billable hours data and working hours **month by month**, with the following fields:\n\nFor each month found in the BILLABLE HOURS row, return:\n- \"month\": Full month name (e.g., July)\n- \"year\": 4-digit year\n- \"Week Starting Date\": First date in that month from the BILLABLE HOURS row (even if hours = 0), format: MM/DD/YYYY\n- \"Week Ending Date\": Last date in that month from the BILLABLE HOURS row (even if hours = 0), format: MM/DD/YYYY\n- \"Total Hours\": Sum of billable hours for that month (use only the “Total Billable hours/days” row)\n\nSpecial Handling for Split Weeks:\n- If a week includes dates across two months (e.g., Jun-30 to Jul-6), split them by month.\n- Each month should contain **only its own dates and billable hours**.\n\n Do not skip a month just because hours are 0 — still include the correct week start/end dates and `\"Total Hours\": 0`.\n\n Do not guess or assume any dates not clearly listed in the BILLABLE HOURS section.\n\n---\n\nExample:\nIf the BILLABLE HOURS row shows:  \n`Jun-30 Jul-1 Jul-2 Jul-3 Jul-4 Jul-5 Jul-6`  \nAnd only Jun-30 has hours:\n\nReturn:\n\n{\n  \"Employee Name\": \"Ravi Katta\",\n \"Manager Name\": \"\",\n \"Client\": \"\",\n  \"month1\": {\n    \"month\": \"June\",\n    \"year\": 2025,\n    \"Week Starting Date\": \"06/30/2025\",\n    \"Week Ending Date\": \"06/30/2025\",\n    \"Total Hours\": \n  },\n  \"month2\": {\n    \"month\": \"July\",\n    \"year\": 2025,\n    \"Week Starting Date\": \"07/01/2025\",\n    \"Week Ending Date\": \"07/06/2025\",\n    \"Total Hours\": \n  }\n}\n\nRemember this most importantly, Return only valid JSON. Do not wrap the JSON in markdown code fences (no ```json) or no use of ``` in the output.\n\n{{ $json.data[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -6224,
        448
      ],
      "id": "7e6e4c4d-6435-4a6f-b853-664fa876b95d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -6240,
        704
      ],
      "id": "d578acfc-217e-4f2c-a13a-5fe0c43104a4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "B9ddrzjSHIWASzvB",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id ||$('If- File is Exist').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Account Number": "={{ $('Get Customer Info From PO Sheet').item.json['Customer Account Number'] }}",
            "Invoice Date": "={{ $('Create Sheet Name + Invoice Date').all()[0].json['last date of current month'].toDateTime().format('MM-dd-yyyy') }}",
            "Due Date": "={{ $('Create Sheet Name + Invoice Date').all()[0].json['last date of current month'].trim().toDateTime().plus($('Get Customer Info From PO Sheet').all()[0].json['Due Date Calculation'],'days').format('MM-dd-yyyy') }}",
            "PO Number": "={{ $('Get Customer Info From PO Sheet').item.json['PO Number'] }}",
            "Item Column Title": "Items",
            "Quantity Column": "Hours",
            "Item Name": "={{ $('Get Customer Info From PO Sheet').item.json.Item }}",
            "Quantity": "={{ $('Loop Over Items').item.json['Total Hours']}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Account Number",
              "displayName": "Customer Account Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Column Title",
              "displayName": "Item Column Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Column",
              "displayName": "Quantity Column",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Item Name",
              "displayName": "Item Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit Price",
              "displayName": "Unit Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Decription",
              "displayName": "Decription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1008,
        -464
      ],
      "id": "6f347635-4a55-4c2a-8648-d2df2c53c7de",
      "name": " Sheets: Append Row1",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LQLGajPqQsn4hG8L",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "content": "## OCR extraction\nSends each attachment to the OCR API and returns plain text. This turns PDFs and images into machine readable text before AI parsing.\n",
        "height": 304,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6592,
        288
      ],
      "typeVersion": 1,
      "id": "114368ce-8cc1-4876-b61c-101bcd94c1d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Build invoice dates\nCalculates the invoice date and due date using the timesheet's week end date and PO due date rules. Outputs clean fields used to name and populate the invoice sheet.\n",
        "height": 320,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2064,
        320
      ],
      "typeVersion": 1,
      "id": "15c5acb9-d741-4f85-bb77-d878fe5cd2f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## create new year folder",
        "height": 224,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        480
      ],
      "typeVersion": 1,
      "id": "046af51e-0c3f-4be7-9a21-990dc617d972",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## normalize and extract timesheet month\nPrepare Month array and extract month number and split based on month\n\n",
        "height": 336,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        304
      ],
      "typeVersion": 1,
      "id": "47490f7d-2079-4565-855a-c094663efa28",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Email intake and loop\nListens to Gmail for unread timesheet emails, splits all attachments, and processes each one in a loop so multiple timesheets in the same email are handled independently.\n",
        "height": 320,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7360,
        304
      ],
      "typeVersion": 1,
      "id": "3f0f80fa-ab2c-4b0e-aee8-21611c5983d7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## How it works\n\nThe workflow automates extracting timesheet data, organizing files, and syncing invoices to QuickBooks.\n\n1. Text extraction\nSplits attachments and sends them to an OCR API to convert PDFs or images into raw text.\n\n2. AI parsing\nGoogle Gemini analyzes the text to extract:\nEmployee and Client names\nTotal billable hours\nWeek start and end dates\nLogic to split weeks spanning two months\n\n3. Data lookup\nReferences your Customer POs Sheet to retrieve:\nPO and Account numbers\nItem details\nInvoice due date rules\n\n4. Drive folder logic\nLocates or creates a strict hierarchy inside 01-ClientInvoices:\nClient folder\nEmployee folder\nYear folder\n\n5. Sheet handling\nValidates data against existing records to prevent duplicates.\nAppends rows to existing monthly sheets, or\nCreates, names, and moves new sheets if necessary.\n\n6. QuickBooks sync\nFinalizes the process by:\nFinding or creating the Customer profile\nGenerating the Invoice with mapped fields\n\n## Setup steps\n\nConnect Drive, Sheets, Gmail, QuickBooks, and Gemini.\n\nUpdate the Master Sheet ID.\n\nCreate the 01-ClientInvoices root folder.\n\nVerify the OCR API URL.\n\nTest the duplicate check logic.\n",
        "height": 992,
        "width": 976
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8512,
        -256
      ],
      "typeVersion": 1,
      "id": "1b0b3e7a-1b53-40e1-8ce5-be4d3fa3f26f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Customer and PO lookup\nLooks up the sender in the Customer POs sheet and pulls account number, PO number, item name, folder name, invoice range, and due date offset that drive the invoice logic.\n",
        "height": 352,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4304,
        224
      ],
      "typeVersion": 1,
      "id": "55f04bf5-fd48-444b-a42b-d85eecfb99f6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## AI timesheet parsing\nOpenAI reads the timesheet text and extracts employee name, client name, week start and end dates, total hours, and current year into clean JSON fields for later use.\n",
        "height": 304,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6288,
        288
      ],
      "typeVersion": 1,
      "id": "72c2e0b8-bb89-43ae-b5b9-8616e24b6ee5",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Client folder discovery\nSearch Client Invoices folder, finds or creates the client level folder based on the timesheet client name and PO configuration.\n",
        "height": 336,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3968,
        240
      ],
      "typeVersion": 1,
      "id": "95e96c21-6757-4fbd-ab81-db26e0d57bc9",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## ## File naming and search\n searches Drive for existing sheets with the employee and if it exist get that year's folder",
        "height": 272,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3360,
        96
      ],
      "typeVersion": 1,
      "id": "07f2da1a-4522-4a5f-8ddf-cc7f5aed2b10",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Create new \ncreate new client name, employee and year named folder\n",
        "height": 224,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3328,
        448
      ],
      "typeVersion": 1,
      "id": "d63df627-443a-4e83-9172-682f997a8238",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## check for duplicate and  Skip January First Time  (first week of the year)\n\n",
        "height": 304,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        -48
      ],
      "typeVersion": 1,
      "id": "ec7cf43b-8590-40cb-84c3-87741d164ec1",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## skip if duplicate is found \n",
        "height": 288,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -384
      ],
      "typeVersion": 1,
      "id": "6c53253e-28a1-40dd-ab1f-74ff95d81270",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## add extracted data to sheets\n",
        "height": 288,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -560
      ],
      "typeVersion": 1,
      "id": "c26290d3-f1e9-4a95-8de3-f54eac5bdac2",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## add extracted data to sheets\n",
        "height": 288,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        320
      ],
      "typeVersion": 1,
      "id": "0d6c32ff-1489-4995-9b5f-a00b5295ab6f",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## get data from sheets\nextracted data  from sheets\n",
        "height": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -160
      ],
      "typeVersion": 1,
      "id": "37f949fe-a383-4bcc-ae0c-d3171e09021d",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## quickbooks customer info \nfrom quickbooks find customer info that match customer name in sheets\n",
        "height": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -160
      ],
      "typeVersion": 1,
      "id": "49f19b3a-6dba-4ca3-9017-6f374c255229",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## check if customer exists\n\nif exists continue else add new customer  info\n",
        "height": 384,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -160
      ],
      "typeVersion": 1,
      "id": "3d0ad848-ae86-4857-91b0-19fc4400d9e3",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## add data into Quickbooks\nadd data from sheets into Quickbooks invoice ",
        "height": 384,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -160
      ],
      "typeVersion": 1,
      "id": "0f87d3dd-467d-49d0-818c-e8767a935742",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## check occurrence than map the data\ncheck  If: First Time This Month? and than map the extracted data   and create sheet +invoice date\n",
        "height": 384,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5136,
        272
      ],
      "typeVersion": 1,
      "id": "3b877ec9-6a3a-4e38-9751-18f5dfc42f45",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54fd631e-bb84-4d4d-a59f-325325d99a5a",
              "leftValue": "={{ $json['Week Starting Date'].split(\"/\")[0] }}\n",
              "rightValue": "={{ $('Prepare Month array').item.json['Target month1'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5104,
        432
      ],
      "id": "1c0cbb50-d937-4fe0-ba5e-342e5d9f6898",
      "name": "If: First Time This Month?"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "{\n  \"Employee Name\": \"Lekhya Reddy Mudda\",\n  \"Manager Name\": \"Vish Aiyah\",\n  \"Client\": \"Wine Direct\",\n  \"month1\": {\n    \"month\": \"July\",\n    \"year\": 2025,\n    \"Week Starting Date\": \"07/16/2025\",\n    \"Week Ending Date\": \"07/31/2025\",\n    \"Total Hours\": 96.00\n  }\n}"
        }
      }
    ]
  },
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-09T16:08:59.659Z",
      "updatedAt": "2025-12-09T16:08:59.659Z",
      "role": "workflow:owner",
      "workflowId": "8SWEm84D3qqvwdhT",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-29T09:49:50.000Z",
  "versionId": "4a8a1b89-d2d7-4bd6-bb09-114c1dd3d6c7"
}