sharepoint.json
{
  "active": false,
  "connections": {
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "get metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SharePoint HTTP Request1": {
      "main": [
        [
          {
            "node": "rename files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SharePoint HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "normalize last modified date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        []
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Microsoft SharePoint HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SharePoint HTTP Request": {
      "main": [
        [
          {
            "node": "filter files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter files": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "normalize last modified date": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get metadata": {
      "main": [
        [
          {
            "node": "Set metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set metadata": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rename files": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-11T13:27:54.411Z",
  "id": "obKQheGkWQgHwKNC",
  "isArchived": false,
  "meta": null,
  "name": "sharepoint",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        400
      ],
      "id": "2942a203-e59b-4e7e-817d-002885bcd5e5",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "GET",
        "": "",
        "url": "=https://<your-tenant>.sharepoint.com/sites/<your-site>/_api/web/GetFileByServerRelativeUrl('{{ $('Loop Over Items').item.json.ServerRelativeUrl }}')/$value\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false,
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        432
      ],
      "id": "52071823-1ab8-41c1-a44c-8d05f18f270f",
      "name": "Microsoft SharePoint HTTP Request1",
      "extendsCredential": "microsoftSharePointOAuth2Api",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1360,
        320
      ],
      "id": "8976ad9b-14fc-408b-b995-e4e7bc9cd702",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "sharepoint_file_id",
              "field2": "UniqueId"
            },
            {
              "field1": "Last_modified_date",
              "field2": "TimeLastModified"
            },
            {
              "field1": "Loading Done",
              "field2": "Exists"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -592,
        240
      ],
      "id": "dae4c9ed-2fa1-43b9-8c96-baacef092b02",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "getAll",
        "tableId": "n8n_metadata",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        160
      ],
      "id": "24e543d1-2def-405c-9d59-e3cbd80e87df",
      "name": "Supabase"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "n8n_metadata",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -128,
        96
      ],
      "id": "7109b99e-02a9-4b64-b030-71025f6d761c",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "9dYMIwoCFFwT3ZmR",
          "name": "Supabase account 6 ayan"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "=n8n_metadata",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set metadata').item.json.file_id }}",
            "title": "={{ $('Set metadata').item.json.file_title.replaceSpecialChars() }}",
            "url": "={{ $('Set metadata').item.json.file_url }}",
            "sharepoint_file_id": "={{ $json.sharepoint_file_id }}",
            "Last_modified_date": "={{ $json.last_modified_date }}",
            "sharepoint_folder_name": "={{ $json.foldername }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Last_modified_date",
              "displayName": "Last_modified_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sharepoint_file_id",
              "displayName": "sharepoint_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sharepoint_folder_name",
              "displayName": "sharepoint_folder_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Loading Done",
              "displayName": "Loading Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        384,
        432
      ],
      "id": "0fcdc702-66e6-4808-80cf-db3559acd2a2",
      "name": "Insert Document Metadata",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_metadata",
          "mode": "list",
          "cachedResultName": "n8n_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Loading Done": true,
            "id": "={{ $('Insert Document Metadata').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_modified_date",
              "displayName": "Last_modified_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "sharepoint_file_id",
              "displayName": "sharepoint_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sharepoint_folder_name",
              "displayName": "sharepoint_folder_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loading Done",
              "displayName": "Loading Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        416
      ],
      "id": "d5d5967d-11e3-4152-9c60-266afd1ef6be",
      "name": "Postgres",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        416
      ],
      "id": "d89ee62e-023a-4437-8fd5-6ab82de340dc",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xS6kSuLaEkasxHtm",
          "name": "Google Drive account 6 rn dbt"
        }
      }
    },
    {
      "parameters": {
        "content": "#  SharePoint Sync Overview\n\n## How it works\nRuns on a schedule, fetches SharePoint folders and files, filters unwanted formats, and syncs metadata into a Postgres/Supabase table.  \nOnly new or modified files are processed.  uploads files to Google Drive for backup so google drive in sync with sharepoint\n\n## Setup steps\n1. Connect **SharePoint**, **Supabase/Postgres**, and **Google Drive** credentials.  \n2. Update folder URL and table name (`n8n_metadata`).  \n3. Adjust excluded extensions in the **Code8** node.  \n4. Set **Schedule Trigger** frequency.  \n5. Run once to verify IDs, URLs, and timestamps.\n",
        "height": 496,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        64
      ],
      "typeVersion": 1,
      "id": "ede831b8-8846-4e13-9085-6d8027be9807",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## extract metadata",
        "height": 240,
        "width": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        320
      ],
      "typeVersion": 1,
      "id": "946a98ba-2286-4f7c-a565-d54daf60db54",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Rename Files\nRenames each downloaded binary file  \nwith its corresponding SharePoint file title before upload.\n",
        "height": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        224
      ],
      "typeVersion": 1,
      "id": "36db62ed-0b95-4ef7-bb5a-30c57cfe3ca4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Postgres (Mark Complete)\nMarks entries as processed by setting `Loading Done = true`  \nonce uploads are complete.\n",
        "height": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        240
      ],
      "typeVersion": 1,
      "id": "fad59bd5-92b6-4b2e-9577-9dfdaf215684",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Upload file (Google Drive)\nUploads downloaded files to Google Drive for safe storage or cross-system access.\n",
        "height": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        224
      ],
      "typeVersion": 1,
      "id": "df5061b7-8935-4875-8e76-625994482128",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Microsoft SharePoint HTTP Request1 (Download)\nDownloads each new or updated file directly from SharePoint using its `ServerRelativeUrl`.\n",
        "height": 352,
        "width": 262,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        224
      ],
      "typeVersion": 1,
      "id": "080ef3bd-a31e-408b-958e-d1f47dbddec5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Insert Document Metadata\nUpserts processed SharePoint file data into `n8n_metadata` (Postgres/Supabase).  \nCreates or updates existing records.\n",
        "height": 352,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        224
      ],
      "typeVersion": 1,
      "id": "f6649b09-f542-42e1-acfe-7ed1b147de0f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### delete file from supabase (metadata table)",
        "height": 240,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        16
      ],
      "typeVersion": 1,
      "id": "4cdb293d-9ca2-49e1-be0e-3053c8e758bb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Filter Files\nFilters out system and temporary files (`~$`, `.db`, `.msg`, `.xlsx`, `.pptx`)  \nand flattens nested folders into a single clean file list.\n",
        "height": 400,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        336
      ],
      "typeVersion": 1,
      "id": "e9c869ff-d7b3-4884-8b76-f65f97a27e04",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Compare Datasets\nCompares SharePoint and Supabase data  \nto detect new or updated files and flag records for processing.\n",
        "height": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        112
      ],
      "typeVersion": 1,
      "id": "0995c238-776e-49b6-9a1f-3ecde5269b87",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Microsoft SharePoint HTTP Request\nRetrieves all folders and files recursively from the specified SharePoint document path.\n",
        "height": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        336
      ],
      "typeVersion": 1,
      "id": "b76d59ef-e870-4835-80e2-b402ce313375",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Supabase (Get)\nRetrieves existing records from `n8n_metadata`  \nto check which SharePoint files are already stored.\n",
        "height": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        16
      ],
      "typeVersion": 1,
      "id": "352884ed-4bf4-414f-9272-ab689614f9d6",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Schedule Trigger\nTriggers the workflow on a defined schedule \n",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        208
      ],
      "typeVersion": 1,
      "id": "8c0bfdeb-23b8-45fe-9fdc-0ab4cdf28706",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "GET",
        "": "",
        "url": "https://<your-tenant>.sharepoint.com/sites/<your-site>/_api/web/GetFolderByServerRelativeUrl('/sites/<your-site>/<document-library>/<subfolders>')?$expand=Files,Folders,Folders/Files,Folders/Folders/Folders/Files,Folders/Folders/Folders/Folders/Files\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false,
              "responseFormat": "autodetect"
            }
          }
        },
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1072,
        544
      ],
      "id": "7cb642b1-049c-4379-a672-061d6bf5e38c",
      "name": "Microsoft SharePoint HTTP Request",
      "extendsCredential": "microsoftSharePointOAuth2Api"
    },
    {
      "parameters": {
        "content": "### standardizes \n`Last_modified_date` ",
        "height": 288,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        16
      ],
      "typeVersion": 1,
      "id": "1c967ff9-05de-46c9-9e79-1b5e558871da",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// This is the final, universal code that will get all your files.\n// It recursively finds all files and filters out temporary/system files.\nconst allFiles = [];\nconst excludedExtensions = ['.db', '.msg', '.xlsx','.xlsm','.pptx']; // <-- UPDATED THIS LINE\n\n/**\n * This function recursively digs through a folder structure to find all files.\n * @param {Object} folder - A folder object that may contain files and other folders.\n */\nfunction findFilesRecursively(folder) {\n  // Safety check to make sure we have a valid folder\n  if (!folder || typeof folder !== 'object') {\n    return;\n  }\n\n  // If there's a 'Files' array, add its contents to our main list\n  if (Array.isArray(folder.Files)) {\n    allFiles.push(...folder.Files);\n  }\n\n  // If there's a 'Folders' array, run this same function on each subfolder\n  if (Array.isArray(folder.Folders)) {\n    for (const subFolder of folder.Folders) {\n      findFilesRecursively(subFolder);\n    }\n  }\n}\n\n// Directly process the first item from the input.\nconst topLevelFolderObject = $input.item.json;\n\n// The data you provided is a single object with a \"Folders\" key at the top.\n// We start the search from this single object.\nfindFilesRecursively(topLevelFolderObject);\n\n// Filter out items based on multiple conditions\nconst filteredFiles = allFiles.filter(item => {\n  // Ensure item.Name exists and is a string before proceeding\n  if (typeof item.Name !== 'string') {\n    return false; // Exclude items that don't have a valid Name property\n  }\n  const fileName = item.Name;\n  const lowerCaseFileName = fileName.toLowerCase();\n\n  // Condition 1: Check if the filename starts with '~$' (Office temporary files)\n  const isTempFile = fileName.startsWith('~$');\n\n  // Condition 2: Check if the filename ends with an excluded extension\n  const hasExcludedExtension = excludedExtensions.some(ext => lowerCaseFileName.endsWith(ext));\n\n  // Keep the file only if it is NOT a temp file AND does NOT have an excluded extension\n  return !isTempFile && !hasExcludedExtension;\n});\n\n\n// Return the final, flattened list of all valid file items.\nreturn filteredFiles.map(file => ({ json: file }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        544
      ],
      "id": "69d5f0d5-3a18-4430-a6a2-a8d1e8c70fbc",
      "name": "filter files",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4244c0ca-eef1-4674-ae75-8c7f9f06018b",
              "name": "Last_modified_date",
              "value": "={{ $json[\"Last_modified_date\"] + \"Z\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        160
      ],
      "id": "c15798ab-a2eb-457c-a6cb-8471ab4427be",
      "name": "normalize last modified date"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst outputItems = items.map(item => {\n  const data = item.json;\n  \n  // Use existing LinkingUrl if available\n  if (data.LinkingUrl) {\n    return {\n      json: {\n        ...data,\n        fileUrl: data.LinkingUrl\n      }\n    };\n  }\n  \n  // Construct versioned URL\n  let fileUrl = '';\n  \n  if (data.ServerRelativeUrl && data.UniqueId) {\n    // Base URL with server relative path\n    fileUrl = 'https://nosta.sharepoint.com' + data.ServerRelativeUrl;\n    \n    // Use UniqueId for version parameter (remove hyphens)\n    const versionId = data.UniqueId.replace(/-/g, '');\n    fileUrl += `?d=w${versionId}`;\n  }\n  \n  return {\n    json: {\n      ...data,\n      fileUrl: fileUrl\n    }\n  };\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        432
      ],
      "id": "2530cd81-1586-4fdb-bafb-5df0723f6d26",
      "name": "get metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.UniqueId }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.Name.split('.').pop() }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "fae402c8-c486-4b57-8d28-bf669db6b442",
              "name": "last_modified_date",
              "value": "={{ $json.TimeLastModified }}",
              "type": "string"
            },
            {
              "id": "866ce582-16e2-4869-ac77-13f248c187eb",
              "name": "sharepoint_file_id",
              "value": "={{ $json.UniqueId }}",
              "type": "string"
            },
            {
              "id": "cf44a6ba-c561-4656-8bb5-08cea16f0035",
              "name": "foldername",
              "value": "={{ JSON.stringify($json['odata.id'].split('(')[1].split('/').slice(5, -1)) }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bc244e21-105c-4cc1-8ef9-f97965abfe90",
      "name": "Set metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        432
      ]
    },
    {
      "parameters": {
        "content": "### loop over newly added or modified files",
        "height": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        304
      ],
      "typeVersion": 1,
      "id": "e5935403-cf3a-4ee7-9b1a-d1b8b24f9c35",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "jsCode": "$input.item.binary.data.fileName = $input.first().json.title\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        416
      ],
      "id": "118eacaa-e244-48d9-8b7d-5bbff742a63a",
      "name": "rename files"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-11T13:27:54.419Z",
      "updatedAt": "2025-11-11T13:27:54.419Z",
      "role": "workflow:owner",
      "workflowId": "obKQheGkWQgHwKNC",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T16:03:01.000Z",
  "versionId": "dd5db157-57b0-4237-9221-e8f8a01cf087"
}