supbase trigger.json
{
  "active": true,
  "connections": {
    "Supabase5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn2": {
      "main": [
        [
          {
            "node": "Supabase6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase6": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "LinkedIn3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn3": {
      "main": [
        [
          {
            "node": "Supabase7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase7": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "LinkedIn2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Supabase5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-17T11:23:55.609Z",
  "id": "DuP47cP31bxU285c",
  "isArchived": false,
  "meta": null,
  "name": "supbase trigger",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "schedulepost",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "time_of_posting",
              "condition": "lte",
              "keyValue": "={{ $json.currentDate }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "approved"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1568,
        240
      ],
      "id": "08692db7-69cc-4938-a20d-a7a7cd91092a",
      "name": "Supabase5",
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "person": "=ZTphelMvjj",
        "text": "={{ $json.post }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -16,
        208
      ],
      "id": "c97948c9-2ae1-4aae-a2e7-278838b73ca9",
      "name": "LinkedIn2",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "5Mtt6Ml6y4WUa0hy",
          "name": "LinkedIn account 2 test dbt"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        240
      ],
      "id": "64232df7-e395-4e3c-9c59-0a2828250222",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const markdown = item.json.image_markdown;\n\n  // Log the markdown to check what it contains (for debugging)\n  console.log(\"Markdown:\", markdown);\n\n  // Use a more precise regex to match only image URLs in markdown format ![alt](url)\n  const match = markdown.match(/!\\[.*?\\]\\((.*?)\\)/);\n\n  const url = match ? match[1] : null;\n\n  return {\n    json: {\n      url\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        240
      ],
      "id": "e9462c20-5747-43a7-8b8f-b4aef2c8060c",
      "name": "Code2"
    },
    {
      "parameters": {
        "content": "gets post from DB ",
        "height": 400,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        112
      ],
      "typeVersion": 1,
      "id": "d16416a7-dff3-468f-9825-f871dcb91c1f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "schedulepost",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase5').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "posted"
            },
            {
              "fieldId": "urn",
              "fieldValue": "={{ $json.urn }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "eb1d766c-2124-475d-961f-8fb0c02795df",
      "name": "Supabase6",
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        240
      ],
      "id": "cc9e276a-0a93-4419-bf7f-076193a7acab",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9416adb8-989f-4fef-8738-0dc154abc3a8",
              "name": "post",
              "value": "={{ $json.post }}",
              "type": "string"
            },
            {
              "id": "9803cb19-caa0-402c-bd7a-7ff29af0aa69",
              "name": "image_markdown",
              "value": "={{ $json.image_markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        240
      ],
      "id": "52009cbd-9588-4d02-b65d-8d938c51bf82",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d64df695-f465-4fa3-a246-32593426aee7",
              "leftValue": "={{ $json.image_markdown }}",
              "rightValue": "qpmrmtlfwlixlplwpllz",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        240
      ],
      "id": "7c40573e-abd7-4486-b7a3-235a072d5de0",
      "name": "If1"
    },
    {
      "parameters": {
        "person": "ZTphelMvjj",
        "text": "={{ $json.post }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -384,
        -128
      ],
      "id": "d2c6cbfc-bc0f-480e-87ef-07b809aaca56",
      "name": "LinkedIn3",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "5Mtt6Ml6y4WUa0hy",
          "name": "LinkedIn account 2 test dbt"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "schedulepost",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase5').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "posted"
            },
            {
              "fieldId": "urn",
              "fieldValue": "={{ $json.urn }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -208,
        -128
      ],
      "id": "68efe724-bec1-4392-856e-5df326800770",
      "name": "Supabase7",
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -224,
        144
      ],
      "id": "b358e3b4-4915-42ca-a3d5-e252ccfa62bb",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1840,
        240
      ],
      "id": "31a8871a-9e06-4e9c-ade2-e0ef57267681",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8b279832-55a2-4f49-b496-67a925a7d1de",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2176,
        240
      ],
      "id": "6c8d8854-5065-466b-b591-1b6146f2d85d",
      "name": "Webhook",
      "webhookId": "8b279832-55a2-4f49-b496-67a925a7d1de"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2144,
        432
      ],
      "id": "9e07e6de-9376-4f0a-a547-43a1d9eb0e7f",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-17T11:23:55.617Z",
      "updatedAt": "2025-08-17T11:23:55.617Z",
      "role": "workflow:owner",
      "workflowId": "DuP47cP31bxU285c",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-06T17:24:51.000Z",
  "versionId": "50b7fc26-29f5-4286-a96f-d026fb0b2723"
}