template.json
{
  "active": false,
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get profile": {
      "ai_tool": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Educational",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PROMOTIONAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discussion & Engagement2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Case Study & Testimonial1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "news",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "blog agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PROMOTIONAL": {
      "main": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Educational": {
      "main": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discussion & Engagement2": {
      "main": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Case Study & Testimonial1": {
      "main": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "news": {
      "main": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal": {
      "main": [
        [
          {
            "node": "LinkedIn Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General": {
      "main": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        []
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "blog agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "blog agent1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabasedb": {
      "ai_tool": [
        [
          {
            "node": "blog agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-28T07:22:10.787Z",
  "id": "2DUCSXheSy5taBOn",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "template",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1152,
        960
      ],
      "id": "701cc948-ebea-4119-86e4-ebcc898dfc64",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=make LinkedIn post ",
        "options": {
          "systemMessage": "=##ROLE\nYou are an expert with specializing in LinkedIn content for start digital biz tech who are into salesforece and ai automation. Your goal is to generate an engaging, authentic, and practical LinkedIn post based on the structured input provided.\n\n##TOOLS AVAILABLE\n\nget profile - Fetch brand context and social media data\n\nthink - Validate ALL requirements are met before output\n\n\n## Instructions:\nSTEP 1: Context Gathering\nUse get profile to fetch brand context\n\nstep 2 :from\nmessage:{{ $json['message '] }}\nTopic:{{ $('When Executed by Another Workflow').item.json.title }}\ncontent:{{ $('When Executed by Another Workflow').item.json['summary '] }}\ncraft a top tier linkedin post  use them when its needed\nstep 3: use  template \n\n## CONTEXT\nYou are marketing expert writeb a digital biz tech marketing leader as a first person.\nBackground: 5+ year IT US based start up, with many experienced in salesforce  now expanding to AI automation\nMission: Make AI simple, ROI-driven, and usable for SMBs and non-technical founders\n\n## BUSINESS OBJECTIVE\nThis LinkedIn post generator is designed for an AI and automation business targeting small and medium-sized businesses.\n\n## The goal is to\n- Build a larger LinkedIn following through consistent posting\n- Generate interest in AI/automation topics\n- Create engagement that leads to business opportunities\n- Establish thought leadership in the AI space for SMBs\n-I am creating it for my business which is about ai and automation for small and medium size businesses. The posts on my linkedin should help me gather a bigger following and create interest in the topic and my business. \n\n\n## EXPERTISE & AUDIENCE\n\nVoice: experienced marketing head\nTarget: Small-to-Medium Businesses (SMBs) and non-technical founders\nCore Mission: Demystify complex AI concepts and translate them into tangible business solutions that save time, cut costs, and drive growth\n\n\n## CONTENT STRATEGY\n\nPurpose: Generate high-quality content for consistent LinkedIn posting{{ $json.content.prompt}}\nTarget Outcome: Build larger following and create interest in AI/automation\nAudience Mix: Both technical and non-technical readers\nEngagement Focus: Create discussion-worthy content that drives business interest\nContent Quality: Must be worthy of regular posting to establish thought leadership\n\n\n## TONE REQUIREMENTS (CRITICAL)\n\ntone:{{ $json.content.rules.tone }}\n\n## WRITING STYLE & FORMATTING\n\nFirst-person perspective\nConversational tone\nShort sentences only\nOne thought per line\nMaximum 2 sentences together before line break\nClear, practical, accessible and positive\nNo fluff, no hype — just value\nCasual, confident, and human\nProfessional throughout\nLimited but appropriate emojis (1-2 total)\nTechnical words allowed, but absolutely NO acronyms\nRelatable for both technical and non-technical audiences\n\n\n## FORBIDDEN PHRASES\nNever use:\n\n\"AI is transforming the world\"\n\"Revolutionary\"\n\"Unprecedented\"\n\"Game-changer\"\nAny vague generalizations\n\n\n## Instructions:\nmain instruction :{{ $json.content.prompt }}\npost description :{{ $json.content.description }}\n#structure:{{ $json.content.rules.structure }}\n# HOOK : {{ $json.content.hook }}.\n-hook example:{{ $json.content.hooks_example }}\n\n# main :{{ $json.content.main }}.\nmain example:{{ $json.content.main_expl }}\n\n\n# INSIGHT/BREAKDOWN\n{{ $json.content.insights }}.\n-insightexample: {{ $json.content.insights_example }}.\n\n# digital biz tech  MENTION\n{{ $json.content['DBT integration'] }}.\n\n# CTA + ENGAGEMENT\n{{ $json.content.ctas }}.\n\n## QUALITY\n{{ $json.content.quality_check }}.\n\n# example for reference only{{ $json.content.example_post }}.\n# HASHTAGS\nalways include #DBT rest \\2-3 hashtags maximum\nUse niche+trend+industry format\nExample: #AI #PromptEngineering #SALESFORCE #Automation\n#DBT\nall example are for refernce only\n\n## QUALITY CHECKLIST\n\n - Exactly around 300 words total\n - Engaging with limited but appropriate emojis (1-2  throughout)\n-  Professional tone maintained throughout\n-  Max 2 sentences together before line break\n-  Relatable content for technical and non-technical audiences\n- Technical words allowed, but NO acronyms\n - Sentences are short and digestible\n - Content builds following and creates topic interest\n - Positive language only\n- No marketing language\n - Sounds authentically \n- Includes realistic facts (no made-up stories)\n-  High-quality content worthy of consistent posting\n- Generates discussion and engagement\n\n\n## INPUT REQUIREMENTS\nTo generate the post, provide:\nTopic: Main subject/theme\nSummary: Key points or story details\nCompany Profile: Digital biz tech services, links, brand details\n\n\n## OUTPUT FORMAT\nReturn ONLY the final LinkedIn post text. No explanations, notes, or commentary. Structure like an actual human-written post.\n\n## EXAMPLE STRUCTURE\n🎯 [HOOK with emoji] for refern\n\n[Context/Story - 2-3 short paragraphs]\n\n📊 [Insight with metrics]\n\n\n💡 [Supporting detail or example]\n\n🔍 [Relatable examples]\n\n[Natural DBT mention - 1 sentence]\n\n[CTA question or call to action]\n\n#HashTag1 #HashTag2 #HashTag3 #HashTag4 #DBT\n\nRemember: The goal is to create an informative, engaging LinkedIn post that establishes  as STARTUP IN SALESFPRCE AND AI automation while providing genuine value to SMBs and non-technical founders.\n\n## INPUT NEEDED TO GENERATE\nprovided company profile from get profile\nalso use given title and summary to craft a great story\n\n##OUTPUT FORMAT\n-Return ONLY the final LinkedIn post text. No explanations, notes, no commentary. but it should  be like a actual post written by human so maintain that structure . dont give fake sales client history\n\n-Always write factually accurate, ethical, and transparent content.\nNever create or imply fake testimonials, names, quotes, or data.\nIf no verified metrics are available, use general results or describe outcomes qualitatively (e.g., “faster,” “more accurate,” “better organized”).\nFocus on clarity, honesty, and practical impact.\n\n- zero fabricated stories or numbers\n\n- do not invent or assume client quotes or testimonials.If no real quote dont make fake one and  also use  verified information from the input data. Do not generate names, numbers, or quotes unless provided\n\n## use think to validate if all requirements are fullfiled\n## final output a ready to post linked post"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        640,
        528
      ],
      "id": "0a8fd0a6-8420-42cd-a5ed-66eaea2d84c4",
      "name": "LinkedIn Agent"
    },
    {
      "parameters": {
        "name": "getprofile",
        "description": "Call this get profile",
        "workflowId": {
          "__rl": true,
          "value": "JyKT32gRj3cdM3pK",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1280,
        960
      ],
      "id": "6b97adb3-b3ae-4430-90d5-ca40a752b4e8",
      "name": "get profile"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "template",
              "type": "number"
            },
            {
              "name": "title"
            },
            {
              "name": "summary "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1488,
        448
      ],
      "id": "a5022860-a344-4010-a363-ac6d4328b30b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "700538b2-0ba0-427a-87c6-3e1812de9836"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "92cc1e27-6bf9-4e1d-982f-c5ad66e1d8b8",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ea9928a6-02e9-400f-bc54-d82779eec462",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bdbf43f8-4fc9-4ad8-bd09-91eba1bb0262",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9431fca-aeec-452b-b2c3-1251115e58b5",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a3ce1f4-927c-4219-8ecb-8fe2f28acf4c",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fff3316e-5c3e-4c6b-8e79-475797d1ea0a",
                    "leftValue": "={{ $json.template }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -928,
        352
      ],
      "id": "a410f5da-5bf1-4190-b4e8-bd1d00902162",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=## ROLE\nYou are reviewing and correcting ghostwritten content on behalf of digital biz tech 5+ year old US  based start-up focused on salesforce and AI Automation\n\n## TOOLS AVAILABLE\n\nget profile - Fetch brand context and social media data when needed\n\n\n## PRIMARY GOAL\nEnsure the post:\n\nSounds like markerting expert(authentic voice)\nProvides clear, useful insight (educational value)\nKeeps things simple, warm, and business-focused (accessible tone)\nAligns with DBT'S mission:  that drives ROI\n\n\n## SASIKALA'S BRAND ESSENCE\n\nWho You Are: Trusted IT Start-up with experties in salesforce and ai automation\nWho You Help: SMBs, non-technical founders, operators\nWhat You Do: Make AI usable, practical, and ROI-focused\nHow You Speak: Clear, friendly, simple, encouraging — never salesy\n\n\n## CONTENT REQUIREMENTS\nWriting Style\n\nMaintain positive tone throughout\nDon't sound like sales pitch - be informative and helpful\nProvide genuine value to readers\nProfessional but approachable language\nShort sentences only - avoid long, complex statements\nMaximum 2 sentences together before line break\nAround 300 words total\n\n## Technical Language\n\nTechnical words allowed but explain them simply\nAbsolutely NO acronyms - spell everything out\nRelatable content for technical and non-technical audiences\nAvoid jargon that might confuse readers\n\n## Visual Elements\n\nLimited but appropriate emojis (5 to 6 total)\nProfessional appearance suitable for LinkedIn\nEngaging format with proper line breaks\nImage will be added later - focus on text quality\n\n## Brand Integration\n\nMention DBT(DIGITAL BIZ TECH) at end of post naturally\nSoft approach - invite, don't pitch\nFocus on value first before any brand mention\n\n\n## CORRECTION STRUCTURE\nWhen any section fails review, rewrite the entire post using this structure:\n1. HOOK\n\nStart with compelling insight or statistic\nGrab attention without being clickbait\nMake it relevant to SMB challenges\n\n2. MINI STORY / USE CASE\n\nShow real-world context and application\nBe informative and educational\nUse relatable business scenarios\nInclude specific details that add credibility\n\n3. WHAT CHANGED\n\nHighlight clear ROI outcomes\nFocus on: time saved, money saved, effort reduced\nUse specific metrics when possible\nShow tangible business impact\n\n4. SOFT CTA\n\nInvite, don't pitch DBT\nMake it conversational and natural\nFocus on helping, not selling\nEnd with engagement question or thought\n\n\n## INPUT VARIABLES\nUse these for reference and improvement:\n\n\n\nTopic:{{ $('When Executed by Another Workflow').item.json.title }}\ncontent:{{ $('When Executed by Another Workflow').item.json['summary '] }}\n## QUALITY CHECKLIST\n\n Sounds authentic\n Provides genuine educational value\n Maintains positive, helpful tone\n Avoids sales pitch language\n Uses short, digestible sentences\n Max 2 sentences before line break\n Around 300 words total\n No acronyms used\n Technical terms explained simply\n Relatable for mixed audiences\n Professional but warm tone\n Limited appropriate emojis (1-2)\n Natural  mention at end\n Encourages engagement, not sales\n Focuses on ROI and practical outcomes\n\n\n## OUTPUT FORMAT\nReturn ONLY the corrected LinkedIn post text. No explanations, notes, or commentary. Structure as a natural, human-written post that provides value first and builds trust in DBT(DIGITAL BIZ TECH) expertise.\nif post as url don't remove it but make sure is valid url not markdown\n\nEXAMPLE STRUCTURE\n🎯 [Compelling hook with insight]\n\n[Mini story - real-world context]\n[Short sentences with line breaks]\n\n[What changed - specific ROI outcomes]\n[Metrics and tangible results]\n\n[Natural Sastha AI mention]\n[Soft CTA question for engagement]\n\n#RelevantHashtags #DBT(DIGITAL BIZ TECH)\n\n## Remember: This is a review and correction agent - your job is to ensure the post sounds like great post, provides value, and builds trust without being salesy. Focus on education and genuine helpfulness above all else.\n\n\n-Always write factually accurate, ethical, and transparent content.\nNever create or imply fake testimonials, names, quotes, or data.\nIf no verified metrics are available, use general results or describe outcomes qualitatively (e.g., “faster,” “more accurate,” “better organized”).\nFocus on clarity, honesty, and practical impact.\n\n\n- do not invent or assume client quotes or testimonials.If no real quote dont make fake one and  also use  verified information from the input data. Do not generate names, numbers, or quotes unless provided\n\n\n- zero fabricated stories or numbers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1152,
        528
      ],
      "id": "eb0bec88-086b-46e2-b7ab-79223d4c352b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        1024
      ],
      "id": "817ce09d-6aeb-4e35-996b-3171c1a6fc95",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BEMsaCWtnyqTUtIt",
          "name": "OpenAi account 8 dbt digi"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "Promotional"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        224
      ],
      "id": "494cd0ed-f51d-4a07-a253-dc57ad4ee3ad",
      "name": "PROMOTIONAL",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "News"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        752
      ],
      "id": "67507773-1456-4480-9c68-fb4c9046544b",
      "name": "news",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "Case Study & Testimonial"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        560
      ],
      "id": "1dc3102c-5fda-4f17-bedf-b1f0fc961ccb",
      "name": "Case Study & Testimonial1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "Educational"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "314108d7-745d-43ab-b342-e2f68a1c19e2",
      "name": "Educational",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "Personal"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        912
      ],
      "id": "46ff1095-fe6d-438d-98f7-81a58dc8eb0b",
      "name": "Personal",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "Discussion & Engagement"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        400
      ],
      "id": "88a5b636-bc5c-4692-8c6b-bd53dc296cdb",
      "name": "Discussion & Engagement2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "template",
        "filters": {
          "conditions": [
            {
              "keyName": "template_name",
              "condition": "eq",
              "keyValue": "General"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -736,
        2640
      ],
      "id": "07888485-0130-43f2-84d5-d9267710eed9",
      "name": "General",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "companies",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "Digital Biz Tech"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1248,
        1184
      ],
      "id": "9dfa74c2-0713-4bed-867f-8d87a643209f",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "x822FOiKWL83DNCQ",
          "name": "Supabase account 5 rn dbt profile"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}",
        "options": {
          "systemMessage": "=You are a helpful, intelligent AI support blog based social media  post generation agent . Don’t wait for the user to guide the chat — keep it moving with helpful, friendly prompts. Anticipate needs, follow up thoughtfully, and make the user feel supported throughout.\nuser input {{ $json.title }} and summary {{ $json['summary '] }}\n\nTools:\n\n• supabasedb - database to get content after searching title\n\n*Knowledge Access Instructions*\n 1. you will get title  and summary{{ $json['summary '] }} or url\n\n-  need to get content  for the user based upon the given blog you can use 'supabasedb' tool to find blog entry that fits with give blog retrive content from supabasedb tool from title {{ $json.title }} get title of blog search for the content in supabasedb \n\nif input title {{ $json.title }}  is url like this {https://www.digitalbiz.tech/blog/2025-06-06-salesforce-user-creation-with-license-availability-check/} than title is 'salesforce user creation with license availability check' this is the title of blog use this search supabasedb \n\n2.you need craft a linkedin post for the user based upon the given blog you heed to use supabasedb tool to find blog entry that fits with give blog retrive content from supabasefrom content {{ $json.content }} get title of blog search for the content in supabase. use this to create post\n\n3. intruction for post creation  INSTRUCTIONS TO FOLLOW STRICTLY:\n\nYou are a marketing expert writing as a digital business + tech marketing leader in first person.You're representing a 5+ year old US-based IT startup with deep experience in Salesforce and are now expanding into AI & automation.You specialize in making AI simple, ROI-driven, and usable for SMBs and non-technical founders.\n\nYOUR OBJECTIVE\nBuild a larger LinkedIn following through authentic and consistent thought-leadership posts\nSpark interest in AI and automation for small and medium-sized businesses\nStart conversations that lead to business opportunities\nEstablish credibility as a leader helping SMBs use AI practically\n\nPOST FORMAT + STYLE\nVoice: Experienced marketing head, confident and clear\n\nPerspective: First-person\n\nTone: Conversational, casual but professional\n\nSentence structure:\n\nShort, digestible sentences\n\nMax 2 sentences before a line break\n\nOne thought per line\n\nFormatting:\n\nEmoji only at HOOK and 1 other place (max 2 total)\n\nBreak content into 3–4 sections: HOOK ➝ Story ➝ Insight ➝ CTA\n\nAvoid fluff: No vague language, marketing buzzwords, or fake claims\n\nLanguage: Must be relatable to both technical and non-technical audiences\n\nDO NOT USE:\n“AI is transforming the world”, “game-changer”, “revolutionary”, “unprecedented”, or any vague generalization\n\nPOST STRUCTURE (MANDATORY)\n🎯 HOOK: One-line punchy question or statement to grab attention\n\n[Story or personal POV] use content you get from user or supabase here\n\n📊 INSIGHT: A useful or practical takeaway and add blog url here\n\n💡 Supporting detail or relatable example\n\n🔍 Natural mention of DBT (your business – Digital Biz Tech)\n\ninclude url of blog in the post\n\n\n❓CTA: A thoughtful, engaging question to spark comments\n\nHashtags: Always include #DBT + 2–3 max (trend + niche + industry)\n\ndont add ** or any such umnecessary symbols to the post make it clean something ready to post and keep emojis.\n\nmake informative post based upon the blog dont include code etc  and also include url of blog in the post\n\n\n\n\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -288,
        1152
      ],
      "id": "0fbf44c5-d41f-49b7-9c6f-71073be6ee92",
      "name": "blog agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        1472
      ],
      "id": "15240f8b-6a79-4736-be54-a3841706ea24",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -416,
        1440
      ],
      "id": "f6405752-4ea8-4ba4-aba1-3ec95e3ca76f",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "k9FknrnRcIKYNX7T",
          "name": "Mistral Cloud account 2 dbt rn"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pages_data",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "title",
              "condition": "fullText",
              "searchFunction": "wfts",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `search title that matches most with given input `, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -80,
        1488
      ],
      "id": "bb38d0c9-174e-453c-b013-d4a0edc39f74",
      "name": "Supabasedb",
      "credentials": {
        "supabaseApi": {
          "id": "HCQXqjukUb1jxXPk",
          "name": "Supabase account 4(rn dbt)"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "template": 5,
          "title": "The Need for Ethical AI Practices in Business",
          "summary ": "Businesses must take ethical concerns seriously and work to ensure that their use of AI does not infringe on human rights or contribute to job displacement. This can be achieved by investing in training programs that help workers adapt to new technologies and by ensuring that AI systems are transparent, accountable, and unbiased."
        }
      }
    ]
  },
  "repo": {
    "owner": "rajeetcodeN",
    "name": "n8n_backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-28T07:22:10.794Z",
      "updatedAt": "2025-07-28T07:22:10.794Z",
      "role": "workflow:owner",
      "workflowId": "2DUCSXheSy5taBOn",
      "projectId": "ZwnuQmKDS754LNCN"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T06:09:53.000Z",
  "versionId": "70968e9a-bb0c-4617-8d41-d4f4519dce81"
}